<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IconTime2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,342},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ServerTxtBtn_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{288,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{288,57}}</string>
                <key>sourceSize</key>
                <string>{290,57}</string>
            </dict>
            <key>levelUpSpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{492,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{492,148}}</string>
                <key>sourceSize</key>
                <string>{492,192}</string>
            </dict>
            <key>rebelAddLife.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,342},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>rebelIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,243},{92,90}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{92,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>rebelInfoIconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{233,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,186}}</string>
                <key>sourceSize</key>
                <string>{233,186}</string>
            </dict>
            <key>rebelLifeBlackLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,282},{30,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,10}}</string>
                <key>sourceSize</key>
                <string>{30,10}</string>
            </dict>
            <key>rebelLifeBlueLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,294},{30,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,6}}</string>
                <key>sourceSize</key>
                <string>{30,6}</string>
            </dict>
            <key>rebelLifeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,282},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>rebelLvBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,299},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>rebelRedBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,397},{294,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,14}}</string>
                <key>sourceSize</key>
                <string>{294,14}</string>
            </dict>
            <key>rebelRedBar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,413},{147,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,21}}</string>
                <key>sourceSize</key>
                <string>{147,21}</string>
            </dict>
            <key>rebelRedBar2blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,439},{147,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,21}}</string>
                <key>sourceSize</key>
                <string>{147,21}</string>
            </dict>
            <key>rebelRedBarBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,413},{150,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,24}}</string>
                <key>sourceSize</key>
                <string>{150,24}</string>
            </dict>
            <key>rebelShareBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,402},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>rebelShareBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,243},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>rebelVS.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,150},{148,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,91}}</string>
                <key>sourceSize</key>
                <string>{148,91}</string>
            </dict>
            <key>story_chapter_lock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,150},{106,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,130}}</string>
                <key>sourceSize</key>
                <string>{110,132}</string>
            </dict>
            <key>story_chapter_pass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,335},{105,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{109,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newCommonImage.pvr.ccz</string>
            <key>size</key>
            <string>{492,465}</string>
            <key>textureFileName</key>
            <string>newCommonImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
