<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catapult1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,318},{135,103}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{135,103}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>catapult2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,217},{133,97}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{133,97}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>catapult3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{160,118}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{160,118}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>localWar_RallyPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{186,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{186,152}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>localWar_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{292,186}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{292,186}}</string>
                <key>sourceSize</key>
                <string>{296,188}</string>
            </dict>
            <key>localWar_cityIn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,120},{157,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{157,95}}</string>
                <key>sourceSize</key>
                <string>{163,105}</string>
            </dict>
            <key>localWar_cityIn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,217},{147,99}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{147,99}}</string>
                <key>sourceSize</key>
                <string>{163,105}</string>
            </dict>
            <key>localWar_cityIn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{159,85}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{159,85}}</string>
                <key>sourceSize</key>
                <string>{163,105}</string>
            </dict>
            <key>localWar_cityIn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,318},{145,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{145,85}}</string>
                <key>sourceSize</key>
                <string>{163,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localWarCityIcon.pvr.ccz</string>
            <key>size</key>
            <string>{470,428}</string>
            <key>textureFileName</key>
            <string>localWarCityIcon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
