<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>localWar_leaderHistory.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,928},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>localWar_repair.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,900},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>localWar_status1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,298},{178,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,30}}</string>
                <key>sourceSize</key>
                <string>{178,30}</string>
            </dict>
            <key>localWar_status2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,980},{178,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,30}}</string>
                <key>sourceSize</key>
                <string>{178,30}</string>
            </dict>
            <key>localWar_tabLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,330},{234,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,86}}</string>
                <key>sourceSize</key>
                <string>{234,86}</string>
            </dict>
            <key>localWar_tabLeft_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,850},{234,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,86}}</string>
                <key>sourceSize</key>
                <string>{234,86}</string>
            </dict>
            <key>localWar_tabRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,762},{236,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,86}}</string>
                <key>sourceSize</key>
                <string>{236,86}</string>
            </dict>
            <key>localWar_tabRight_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,674},{236,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,86}}</string>
                <key>sourceSize</key>
                <string>{236,86}</string>
            </dict>
            <key>local_war_attack_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,938},{221,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,84}}</string>
                <key>sourceSize</key>
                <string>{221,84}</string>
            </dict>
            <key>local_war_attack_for.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,938},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>local_war_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,901},{139,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,25}}</string>
                <key>sourceSize</key>
                <string>{139,25}</string>
            </dict>
            <key>localwar_citybg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{555,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,180}}</string>
                <key>sourceSize</key>
                <string>{555,180}</string>
            </dict>
            <key>localwar_citybg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{555,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,180}}</string>
                <key>sourceSize</key>
                <string>{555,180}</string>
            </dict>
            <key>warAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,152},{173,144}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{173,144}}</string>
                <key>sourceSize</key>
                <string>{181,180}</string>
            </dict>
            <key>warBlueFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,674},{300,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,304}}</string>
                <key>sourceSize</key>
                <string>{300,304}</string>
            </dict>
            <key>warHonour.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{181,150}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{181,150}}</string>
                <key>sourceSize</key>
                <string>{181,180}</string>
            </dict>
            <key>warInfoBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,708},{125,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,95}}</string>
                <key>sourceSize</key>
                <string>{125,95}</string>
            </dict>
            <key>warInfoBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,804},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,94}</string>
            </dict>
            <key>warMapBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,515},{125,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,95}}</string>
                <key>sourceSize</key>
                <string>{125,95}</string>
            </dict>
            <key>warMapBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,805},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,94}</string>
            </dict>
            <key>warRedFlagBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,308}}</string>
                <key>sourceSize</key>
                <string>{640,308}</string>
            </dict>
            <key>warRepartBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,418},{125,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,95}}</string>
                <key>sourceSize</key>
                <string>{125,95}</string>
            </dict>
            <key>warRepartBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,708},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,94}</string>
            </dict>
            <key>warTroopsBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,515},{125,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,95}}</string>
                <key>sourceSize</key>
                <string>{125,95}</string>
            </dict>
            <key>warTroopsBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,612},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,94}</string>
            </dict>
            <key>warUnionBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,418},{125,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,95}}</string>
                <key>sourceSize</key>
                <string>{125,95}</string>
            </dict>
            <key>warUnionBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,612},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localWarCommon.pvr.ccz</string>
            <key>size</key>
            <string>{823,1022}</string>
            <key>textureFileName</key>
            <string>localWarCommon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
