<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>localWarBuff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,899},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>localWarBuff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,899},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>localWarBuff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,773},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>localWarBuff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,671},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>localWarBuff5.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,569},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>localWar_border0.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,965},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>localWar_border1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,929},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>localWar_border2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,929},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>localWar_border3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,893},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>localWar_border4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,893},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>localWar_border99.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,529},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>localWar_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,873},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{26,24}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>localWar_buff_102_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,983},{28,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{28,26}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>localWar_buff_104_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,943},{26,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>localWar_buff_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,965},{20,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{20,26}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>localWar_buff_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,741},{24,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{24,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>localWar_buff_captital.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,741},{30,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>localWar_cityNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,873},{115,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,24}}</string>
                <key>sourceSize</key>
                <string>{115,24}</string>
            </dict>
            <key>localWar_common_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,741},{163,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,130}}</string>
                <key>sourceSize</key>
                <string>{163,130}</string>
            </dict>
            <key>localWar_desc_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,913},{161,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,23}}</string>
                <key>sourceSize</key>
                <string>{161,23}</string>
            </dict>
            <key>localWar_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,982},{24,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{24,26}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>localWar_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,875},{26,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{26,20}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>localWar_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,982},{32,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{32,18}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>localWar_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,983},{30,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{30,26}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>localWar_icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,983},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{28,26}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>localWar_miniMap.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{554,527}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,527}}</string>
                <key>sourceSize</key>
                <string>{554,527}</string>
            </dict>
            <key>localWar_miniMap_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,983},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>localWar_miniMap_point1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,983},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>local_war_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,827},{221,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,84}}</string>
                <key>sourceSize</key>
                <string>{221,84}</string>
            </dict>
            <key>local_war_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,655},{221,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,84}}</string>
                <key>sourceSize</key>
                <string>{221,84}</string>
            </dict>
            <key>local_war_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,741},{221,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,84}}</string>
                <key>sourceSize</key>
                <string>{221,84}</string>
            </dict>
            <key>local_war_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,569},{221,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,84}}</string>
                <key>sourceSize</key>
                <string>{221,84}</string>
            </dict>
            <key>local_war_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,655},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>local_war_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,569},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>local_war_timeDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,529},{515,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,38}}</string>
                <key>sourceSize</key>
                <string>{515,38}</string>
            </dict>
            <key>localwar_fight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,875},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>localwar_fight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,938},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>localwar_fight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,938},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>localwar_fight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,938},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>localwar_fight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,773},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>localwar_fight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,818},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>localwar_force_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,863},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>localwar_force_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,951},{55,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,29}}</string>
                <key>sourceSize</key>
                <string>{55,29}</string>
            </dict>
            <key>localwar_force_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,974},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>localwar_force_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,920},{55,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,29}}</string>
                <key>sourceSize</key>
                <string>{55,29}</string>
            </dict>
            <key>localwar_force_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,913},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>localwar_force_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,943},{56,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,29}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localWar2.pvr.ccz</string>
            <key>size</key>
            <string>{554,1009}</string>
            <key>textureFileName</key>
            <string>localWar2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
