<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>christmas_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{220,192}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{220,192}}</string>
                <key>sourceSize</key>
                <string>{226,192}</string>
            </dict>
            <key>christmas_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,575},{102,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,94}</string>
            </dict>
            <key>christmas_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,575},{117,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,94}}</string>
                <key>sourceSize</key>
                <string>{117,96}</string>
            </dict>
            <key>christmas_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,658},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>christmas_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,681},{58,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>christmas_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,920},{58,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,55}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>christmas_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,671},{52,56}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{52,56}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>christmas_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,741},{58,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>christmas_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,894},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>christmas_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,801},{235,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,117}}</string>
                <key>sourceSize</key>
                <string>{235,117}</string>
            </dict>
            <key>christmas_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,581},{270,219}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{270,219}}</string>
                <key>sourceSize</key>
                <string>{270,225}</string>
            </dict>
            <key>christmas_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,280},{199,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,135}}</string>
                <key>sourceSize</key>
                <string>{199,135}</string>
            </dict>
            <key>christmas_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,802},{120,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,118}</string>
            </dict>
            <key>christmas_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,179},{200,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,188}}</string>
                <key>sourceSize</key>
                <string>{200,188}</string>
            </dict>
            <key>christmas_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,675},{111,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,119}}</string>
                <key>sourceSize</key>
                <string>{111,119}</string>
            </dict>
            <key>christmas_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,417},{257,162}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,162}}</string>
                <key>sourceSize</key>
                <string>{263,162}</string>
            </dict>
            <key>christmas_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,802},{143,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,90}}</string>
                <key>sourceSize</key>
                <string>{143,90}</string>
            </dict>
            <key>christmas_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,617},{62,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>christmas_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,194},{220,84}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{220,84}}</string>
                <key>sourceSize</key>
                <string>{248,98}</string>
            </dict>
            <key>christmas_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,369},{198,153}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{198,153}}</string>
                <key>sourceSize</key>
                <string>{202,153}</string>
            </dict>
            <key>christmas_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,179},{428,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{428,158}}</string>
                <key>sourceSize</key>
                <string>{428,160}</string>
            </dict>
            <key>christmas_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,894},{83,90}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{83,90}}</string>
                <key>sourceSize</key>
                <string>{85,96}</string>
            </dict>
            <key>christmas_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,675},{82,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,50}}</string>
                <key>sourceSize</key>
                <string>{82,50}</string>
            </dict>
            <key>christmas_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,524},{184,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,132}}</string>
                <key>sourceSize</key>
                <string>{184,132}</string>
            </dict>
            <key>christmas_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,339},{397,234}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{397,234}}</string>
                <key>sourceSize</key>
                <string>{399,234}</string>
            </dict>
            <key>christmas_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,727},{105,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,66}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
            <key>christmas_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,802},{325,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,199}}</string>
                <key>sourceSize</key>
                <string>{325,199}</string>
            </dict>
            <key>christmas_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,920},{77,84}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>christmas_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,339},{19,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>christmas_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,671},{156,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,126}}</string>
                <key>sourceSize</key>
                <string>{156,126}</string>
            </dict>
            <key>christmas_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,729},{131,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,70}}</string>
                <key>sourceSize</key>
                <string>{131,70}</string>
            </dict>
            <key>christmas_activity_iconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,920},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>christmas_activity_nameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,658},{109,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,21}}</string>
                <key>sourceSize</key>
                <string>{109,21}</string>
            </dict>
            <key>christmas_hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,575},{69,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,40}}</string>
                <key>sourceSize</key>
                <string>{69,40}</string>
            </dict>
            <key>guideHelper_trim.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,575},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>mainUiBottom_Christmas.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{640,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,15}}</string>
                <key>sourceSize</key>
                <string>{640,15}</string>
            </dict>
            <key>mainUiTop_Christmas.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,160}}</string>
                <key>sourceSize</key>
                <string>{640,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>christmasImage.pvr.ccz</string>
            <key>size</key>
            <string>{862,1006}</string>
            <key>textureFileName</key>
            <string>christmasImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
