<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allianceActiveArow.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,27},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>allianceActiveBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{515,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,25}}</string>
                <key>sourceSize</key>
                <string>{515,25}</string>
            </dict>
            <key>allianceActiveBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,67},{540,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,53}}</string>
                <key>sourceSize</key>
                <string>{540,53}</string>
            </dict>
            <key>allianceActiveRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,80},{45,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{45,41}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
            <key>allianceAttackIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,80},{45,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{45,41}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
            <key>allianceMemberIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,80},{45,43}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{45,43}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
            <key>alliance_active_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,27},{72,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{72,51}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>alliance_active_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{84,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,65}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>alliance_function_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,27},{66,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{66,51}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>alliance_function_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{78,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{78,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>alliance_player_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,27},{72,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{72,51}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>alliance_player_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{86,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,65}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>alliance_rank_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,27},{64,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{64,51}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>alliance_rank_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{76,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{76,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>helpAlliance.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{110,104}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>helpRecharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,80},{45,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{45,41}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allianceImage.pvr.ccz</string>
            <key>size</key>
            <string>{959,123}</string>
            <key>textureFileName</key>
            <string>allianceImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
