<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,240},{213,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,125}}</string>
                <key>sourceSize</key>
                <string>{213,125}</string>
            </dict>
            <key>boat_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,574},{225,121}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{225,121}}</string>
                <key>sourceSize</key>
                <string>{225,125}</string>
            </dict>
            <key>bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{536,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,457}}</string>
                <key>sourceSize</key>
                <string>{536,457}</string>
            </dict>
            <key>gang_lou_building_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,398},{271,181}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{271,181}}</string>
                <key>sourceSize</key>
                <string>{279,195}</string>
            </dict>
            <key>help_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,149},{143,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,89}}</string>
                <key>sourceSize</key>
                <string>{143,89}</string>
            </dict>
            <key>langan_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,412},{258,170}}</string>
                <key>offset</key>
                <string>{89,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,99},{258,170}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>langan_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,584},{276,160}}</string>
                <key>offset</key>
                <string>{80,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,98},{276,160}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>langan_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,574},{280,152}}</string>
                <key>offset</key>
                <string>{78,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,99},{280,152}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>langan_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,581},{272,146}}</string>
                <key>offset</key>
                <string>{82,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,99},{272,146}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>langan_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,240},{408,170}}</string>
                <key>offset</key>
                <string>{14,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,99},{408,170}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>langan_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,412},{418,160}}</string>
                <key>offset</key>
                <string>{9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,99},{418,160}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>langan_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,550},{424,152}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,96},{424,152}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>langan_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,0},{424,168}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,71},{424,168}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>langan_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,459},{420,190}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,49},{420,190}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>langan_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,328},{410,210}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{410,210}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>langan_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,170},{394,226}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{394,226}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>langan_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,0},{374,238}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,1},{374,238}}</string>
                <key>sourceSize</key>
                <string>{440,270}</string>
            </dict>
            <key>lighthouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,0},{211,147}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{211,147}}</string>
                <key>sourceSize</key>
                <string>{219,155}</string>
            </dict>
            <key>shan_dong_building_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,0},{454,326}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{454,326}}</string>
                <key>sourceSize</key>
                <string>{490,356}</string>
            </dict>
            <key>street lights_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,459},{111,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,89}}</string>
                <key>sourceSize</key>
                <string>{111,89}</string>
            </dict>
            <key>street lights_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,472},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,72}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>street lights_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,398},{111,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,72}}</string>
                <key>sourceSize</key>
                <string>{111,72}</string>
            </dict>
            <key>street lights_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,540},{98,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newHomeMap.pvr.ccz</string>
            <key>size</key>
            <string>{2014,744}</string>
            <key>textureFileName</key>
            <string>newHomeMap.pvr.ccz</string>
        </dict>
    </dict>
</plist>
