<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accessoryCrush.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,284},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{24,23}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>accessoryFragment0.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,126},{72,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{72,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryIconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,204},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryP1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,0},{84,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{84,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryP10.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,288},{70,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{70,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryP2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,102},{100,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryP3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,92},{84,78}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryP4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,306},{96,82}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{96,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryP5.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{86,74}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{86,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryP6.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,76},{84,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{84,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryP7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryP8.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,158},{52,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{52,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryP9.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,288},{58,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{58,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessory_prop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,158},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{74,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessory_prop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,194},{70,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{70,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessory_prop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,306},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{60,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessory_prop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{88,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{88,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,234},{86,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{86,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,196},{70,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{70,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,226},{82,62}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{82,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,222},{74,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{74,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,196},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{84,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,72},{72,76}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{72,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,232},{86,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{86,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,76},{60,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{60,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,288},{74,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{74,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,82},{82,80}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,290},{70,84}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{70,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,322},{60,62}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{60,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,150},{72,70}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{72,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,64},{76,60}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{76,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,152},{78,80}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,0},{82,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{82,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>accessoryshadow4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,322},{76,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{76,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipIconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipIconBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipIconBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipIconBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipIconBg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipLevelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,126},{57,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{57,22}</string>
            </dict>
            <key>soldierPart2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,284},{60,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{60,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>soldierPart2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,154},{74,70}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{74,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>soldierPart2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{82,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>soldierPart2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,290},{70,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{70,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>soldierPart2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,254},{60,62}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{60,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>soldierPart2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,288},{72,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{72,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>soldierPart2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,64},{76,60}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{76,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>soldierPart2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,76},{78,80}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>soldierPart3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,0},{82,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{82,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>strengLevelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,362},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tankPart1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{88,62}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tankPart1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,172},{86,52}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{86,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tankPart1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,126},{70,66}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{70,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tankPart1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,164},{82,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{82,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tankPart1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,226},{74,60}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{74,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tankPart1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{84,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tankPart1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,288},{72,76}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{72,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tankPart1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,228},{86,54}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{86,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tankPart4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,264},{76,56}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{76,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>uparrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,353},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>uparrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,318},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>uparrow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,72},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>uparrow4.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,232},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accessoryImage.pvr.ccz</string>
            <key>size</key>
            <string>{996,394}</string>
            <key>textureFileName</key>
            <string>accessoryImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
