<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WBbreak1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,444},{93,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,67}}</string>
                <key>sourceSize</key>
                <string>{93,69}</string>
            </dict>
            <key>WBbreak2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,264},{156,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,86}}</string>
                <key>sourceSize</key>
                <string>{156,86}</string>
            </dict>
            <key>WBbreak3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,352},{142,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,90}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>WBbreak4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,156},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>WBbreak5.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,0},{207,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,145}}</string>
                <key>sourceSize</key>
                <string>{207,147}</string>
            </dict>
            <key>WBbreak6.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,147},{207,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,115}}</string>
                <key>sourceSize</key>
                <string>{207,115}</string>
            </dict>
            <key>wbBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{88,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wbBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{347,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,279}}</string>
                <key>sourceSize</key>
                <string>{347,279}</string>
            </dict>
            <key>wbBottomPlate.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,281},{346,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,173}}</string>
                <key>sourceSize</key>
                <string>{346,173}</string>
            </dict>
            <key>wbDamage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,210},{78,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,44}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>wbDamage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,464},{74,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,47}}</string>
                <key>sourceSize</key>
                <string>{74,47}</string>
            </dict>
            <key>wbDamage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,96},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>wbDamage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,411},{107,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,51}}</string>
                <key>sourceSize</key>
                <string>{107,51}</string>
            </dict>
            <key>wbDamage5.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,339},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>wbDamage6.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,264},{118,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,73}}</string>
                <key>sourceSize</key>
                <string>{118,73}</string>
            </dict>
            <key>wbHpPrg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{225,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,6}}</string>
                <key>sourceSize</key>
                <string>{225,6}</string>
            </dict>
            <key>wbHpPrgBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{227,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,8}}</string>
                <key>sourceSize</key>
                <string>{227,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossRes.pvr.ccz</string>
            <key>size</key>
            <string>{646,511}</string>
            <key>textureFileName</key>
            <string>bossRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
