<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnBuild.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,378},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>BtnBuild_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,322},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>BtnNo.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,266},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>BtnNo_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,112},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>BtnRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,436},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>BtnRight_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,380},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>BtnSetUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,324},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>BtnSetUp_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,268},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>BtnUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,56},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>BtnUp_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>IconReturnBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,436},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>IconReturnBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,436},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>copter_ani_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{180,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{180,108}}</string>
                <key>sourceSize</key>
                <string>{194,134}</string>
            </dict>
            <key>copter_ani_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{180,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{180,108}}</string>
                <key>sourceSize</key>
                <string>{194,134}</string>
            </dict>
            <key>copter_ani_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{180,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{180,108}}</string>
                <key>sourceSize</key>
                <string>{194,134}</string>
            </dict>
            <key>copter_ani_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{180,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{180,98}}</string>
                <key>sourceSize</key>
                <string>{194,134}</string>
            </dict>
            <key>copter_ani_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,110},{180,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{180,98}}</string>
                <key>sourceSize</key>
                <string>{194,134}</string>
            </dict>
            <key>copter_ani_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{180,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{180,100}}</string>
                <key>sourceSize</key>
                <string>{194,134}</string>
            </dict>
            <key>copter_shadow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{98,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{98,54}}</string>
                <key>sourceSize</key>
                <string>{194,134}</string>
            </dict>
            <key>copter_shadow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,210},{120,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{120,56}}</string>
                <key>sourceSize</key>
                <string>{194,134}</string>
            </dict>
            <key>enemy_comming_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,352},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{84,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>enemy_comming_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,268},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{84,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fleet_slot_state_gather_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,168},{46,32}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{46,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fleet_slot_state_gather_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,434},{46,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{46,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fleet_slot_state_gather_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,236},{34,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fleet_slot_state_gather_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,202},{36,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{36,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fleet_slot_state_gather_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,464},{38,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{38,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>lessBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,422},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>lessBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,422},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>moreBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,210},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>moreBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,210},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_better_image.pvr.ccz</string>
            <key>size</key>
            <string>{418,490}</string>
            <key>textureFileName</key>
            <string>game_better_image.pvr.ccz</string>
        </dict>
    </dict>
</plist>
