<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ProductTankDialog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,552},{114,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,136}}</string>
                <key>sourceSize</key>
                <string>{116,138}</string>
            </dict>
            <key>alien_tech_factory_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,206},{209,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,188}}</string>
                <key>sourceSize</key>
                <string>{209,188}</string>
            </dict>
            <key>buildingLvBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,82},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>building_ ornamental2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,645},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>buildinglock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,474},{66,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,84}}</string>
                <key>sourceSize</key>
                <string>{66,84}</string>
            </dict>
            <key>cang_ku_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,552},{213,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,132}}</string>
                <key>sourceSize</key>
                <string>{213,132}</string>
            </dict>
            <key>dao_ju_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,417},{219,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{219,144}}</string>
                <key>sourceSize</key>
                <string>{219,154}</string>
            </dict>
            <key>di_ku_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,0},{279,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,197}}</string>
                <key>sourceSize</key>
                <string>{279,197}</string>
            </dict>
            <key>di_kuai_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,309},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>di_kuai_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,403},{236,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{236,129}}</string>
                <key>sourceSize</key>
                <string>{240,133}</string>
            </dict>
            <key>gai_zhuang_chang_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{317,201}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{317,201}}</string>
                <key>sourceSize</key>
                <string>{317,203}</string>
            </dict>
            <key>gang_lou_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,216},{160,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,170}}</string>
                <key>sourceSize</key>
                <string>{162,170}</string>
            </dict>
            <key>gong_hui_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,388},{245,162}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{245,162}}</string>
                <key>sourceSize</key>
                <string>{283,166}</string>
            </dict>
            <key>junshiyanxi_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,206},{232,209}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,209}}</string>
                <key>sourceSize</key>
                <string>{234,211}</string>
            </dict>
            <key>ke_ji_zhong_xin_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,523},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>militaryAcademy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,186},{228,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,159}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>qian_kuang_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{324,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,197}}</string>
                <key>sourceSize</key>
                <string>{324,197}</string>
            </dict>
            <key>qian_kuang_building_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,511},{129,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{129,94}}</string>
                <key>sourceSize</key>
                <string>{145,116}</string>
            </dict>
            <key>refiningBuilding.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,534},{215,153}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{215,153}}</string>
                <key>sourceSize</key>
                <string>{219,161}</string>
            </dict>
            <key>shan_dong_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,203},{271,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,198}}</string>
                <key>sourceSize</key>
                <string>{271,198}</string>
            </dict>
            <key>shi_you_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,0},{308,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,204}}</string>
                <key>sourceSize</key>
                <string>{308,204}</string>
            </dict>
            <key>shi_you_building_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,505},{137,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{137,98}}</string>
                <key>sourceSize</key>
                <string>{145,116}</string>
            </dict>
            <key>shui_jing_gong_chang_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,523},{197,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,165}}</string>
                <key>sourceSize</key>
                <string>{197,165}</string>
            </dict>
            <key>tai_kuang_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,380},{137,123}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{137,123}}</string>
                <key>sourceSize</key>
                <string>{153,125}</string>
            </dict>
            <key>tan_ke_gong_chang_bulding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,0},{317,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{317,184}}</string>
                <key>sourceSize</key>
                <string>{317,186}</string>
            </dict>
            <key>tie_kuang_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,0},{280,214}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{280,214}}</string>
                <key>sourceSize</key>
                <string>{292,240}</string>
            </dict>
            <key>tie_kuang_building_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,279},{58,76}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{58,76}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,607},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{66,80}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,560},{66,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{66,82}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,474},{62,84}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{62,84}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,511},{64,86}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{64,86}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,607},{66,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{66,80}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,560},{62,76}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{62,76}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,387},{58,78}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{58,78}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,563},{58,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{58,80}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,607},{60,74}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{60,74}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,199},{60,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{60,78}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,0},{56,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{56,80}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>tie_kuang_building_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,417},{123,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{123,98}}</string>
                <key>sourceSize</key>
                <string>{145,116}</string>
            </dict>
            <key>world_base_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,605},{122,73}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{122,73}}</string>
                <key>sourceSize</key>
                <string>{128,137}</string>
            </dict>
            <key>world_base_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,387},{128,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{128,85}}</string>
                <key>sourceSize</key>
                <string>{128,137}</string>
            </dict>
            <key>world_base_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,396},{128,107}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{128,107}}</string>
                <key>sourceSize</key>
                <string>{128,137}</string>
            </dict>
            <key>world_base_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,396},{128,107}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{128,107}}</string>
                <key>sourceSize</key>
                <string>{128,137}</string>
            </dict>
            <key>world_island_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,199},{142,108}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{142,108}}</string>
                <key>sourceSize</key>
                <string>{146,120}</string>
            </dict>
            <key>world_island_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,579},{154,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,102}}</string>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>world_island_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,579},{162,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,99}}</string>
                <key>sourceSize</key>
                <string>{162,99}</string>
            </dict>
            <key>world_island_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,563},{177,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,123}}</string>
                <key>sourceSize</key>
                <string>{177,125}</string>
            </dict>
            <key>world_island_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,388},{160,121}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,121}}</string>
                <key>sourceSize</key>
                <string>{160,171}</string>
            </dict>
            <key>zhanyi_dating_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,347},{225,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,174}}</string>
                <key>sourceSize</key>
                <string>{225,174}</string>
            </dict>
            <key>zhu_ji_di_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{472,378}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,378}}</string>
                <key>sourceSize</key>
                <string>{490,378}</string>
            </dict>
            <key>zhuang_bei_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,216},{246,170}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{246,170}}</string>
                <key>sourceSize</key>
                <string>{248,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homeBuilding.pvr.ccz</string>
            <key>size</key>
            <string>{2041,688}</string>
            <key>textureFileName</key>
            <string>homeBuilding.pvr.ccz</string>
        </dict>
    </dict>
</plist>
