<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ProductTankDialog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{114,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,136}}</string>
                <key>sourceSize</key>
                <string>{116,138}</string>
            </dict>
            <key>basementBuilding.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{175,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,224}}</string>
                <key>sourceSize</key>
                <string>{175,224}</string>
            </dict>
            <key>dao_ju_building_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,148},{129,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,76},{129,92}}</string>
                <key>sourceSize</key>
                <string>{313,244}</string>
            </dict>
            <key>gai_zhuang_chang_building_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{147,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,164}</string>
            </dict>
            <key>ke_ji_zhong_xin_building_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,138},{116,100}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{116,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tan_ke_gong_chang_bulding_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,148},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>z.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,181},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homeBuildingDecorate.pvr.ccz</string>
            <key>size</key>
            <string>{469,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c204008cc179c4906f326c455df57d31:1/1$</string>
            <key>textureFileName</key>
            <string>homeBuildingDecorate.pvr.ccz</string>
        </dict>
    </dict>
</plist>
