<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CircleEffect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,228},{96,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{96,69}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,116},{118,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{118,115}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,216},{108,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{108,79}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,216},{108,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{108,93}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{126,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{126,107}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{128,113}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{124,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{124,117}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,234},{96,121}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{96,121}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,341},{94,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{94,111}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,108},{106,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{106,103}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,213},{112,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{112,93}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,0},{100,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{100,83}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,216},{98,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{98,97}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,224},{92,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{92,111}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,352},{96,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{96,115}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,226},{82,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{82,113}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,233},{96,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{96,117}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{108,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{108,129}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>CircleEffect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,365},{112,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{112,119}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>DownArow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,363},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>DownArow10.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,415},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>DownArow11.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,381},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>DownArow12.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,363},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>DownArow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,77},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>DownArow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,429},{45,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>DownArow4.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,433},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>DownArow5.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,433},{45,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>DownArow6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,454},{45,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>DownArow7.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,433},{45,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>DownArow8.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,168},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>DownArow9.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,437},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>RotatingEffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,311},{112,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{112,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>RotatingEffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,162},{90,64}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>RotatingEffect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,77},{120,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{120,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>RotatingEffect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,297},{108,64}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{108,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>RotatingEffect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,315},{86,64}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>RotatingEffect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,77},{118,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>activity_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{122,114}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{122,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>activity_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{126,114}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{126,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>activity_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{116,106}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{116,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>activity_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,116},{114,108}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{114,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>activity_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,116},{108,106}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{108,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>activity_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,337},{104,104}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>below_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,357},{104,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{104,118}}</string>
                <key>sourceSize</key>
                <string>{130,132}</string>
            </dict>
            <key>buy_light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,341},{6,7}}</string>
                <key>offset</key>
                <string>{-73,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>buy_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,109},{36,57}}</string>
                <key>offset</key>
                <string>{-58,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>buy_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,408},{32,61}}</string>
                <key>offset</key>
                <string>{60,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,14},{32,61}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>buy_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,213},{1,1}}</string>
                <key>offset</key>
                <string>{-75.5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>buy_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,139},{64,75}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>buy_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,85},{90,75}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>buy_light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,139},{118,75}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,75}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>buy_light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{146,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,75}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>buy_light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,0},{142,75}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{142,75}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>buy_light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,139},{114,75}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{114,75}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>buy_light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,299},{88,75}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{88,75}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>buy_light_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,308},{60,75}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>zhandouli_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,129},{12,8}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{12,8}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,428},{18,14}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,35},{18,14}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,483},{18,14}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,35},{18,14}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,483},{18,14}}</string>
                <key>offset</key>
                <string>{20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{18,14}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,477},{26,20}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,30},{26,20}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,477},{26,20}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{26,20}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,454},{32,26}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{32,26}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,308},{34,22}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{34,22}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,475},{32,22}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{32,22}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,469},{42,28}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{42,28}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,376},{42,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{42,30}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,462},{50,32}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{50,32}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,428},{50,32}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{50,32}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,463},{52,34}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{52,34}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,469},{50,26}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{50,26}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,415},{70,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,381},{72,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,377},{72,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,376},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,363},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,385},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,443},{68,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>zhandouli_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,443},{66,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_circle_rotate.pvr.ccz</string>
            <key>size</key>
            <string>{1020,497}</string>
            <key>textureFileName</key>
            <string>loading_circle_rotate.pvr.ccz</string>
        </dict>
    </dict>
</plist>
