<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7daysCheckmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,339},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>BattleParts1.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,267},{76,64}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{76,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BattleParts2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,347},{82,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{82,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BattleParts3.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,333},{72,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{72,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BattleParts4.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,240},{74,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{74,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ChinaBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,160},{97,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{97,78}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
            <key>CommonBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,222},{84,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CommonBoxOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,302},{88,82}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CommonDaBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{236,150}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,80},{236,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CommonDaBoxOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{234,214}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{234,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>EnglishBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,80},{97,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{97,78}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
            <key>GermanyBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,80},{97,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{97,78}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
            <key>GoldImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,275},{90,76}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{90,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>IconCopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,482},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>IconCrystal-.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,482},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>IconGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,480},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>IconIron.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,480},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>IconLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,423},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>IconLevelWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,122},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>IconOccupy.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,232},{54,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{54,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>IconOil.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,401},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>IconOre.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,375},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>IconReturn-.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,363},{62,58}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{62,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>IconTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,455},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>IndonesiaBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{97,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{97,78}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
            <key>KeyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,275},{92,70}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{92,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>LegionCopyEagle.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,160},{90,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,2},{90,81}}</string>
                <key>sourceSize</key>
                <string>{224,83}</string>
            </dict>
            <key>LockIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,480},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>LockIconCheckPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,216},{66,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,84}}</string>
                <key>sourceSize</key>
                <string>{66,84}</string>
            </dict>
            <key>MISS.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,152},{124,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{124,42}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>NumBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,441},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>SeniorBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,160},{84,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>SeniorBoxOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,196},{88,82}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>StarIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,403},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>ThailandBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,152},{97,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{97,78}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
            <key>TraditionalBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,0},{97,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{97,78}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
            <key>Vip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,185},{106,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{106,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>Vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,342},{104,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{104,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>Vip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,218},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>Vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,309},{104,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{104,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>Vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,276},{104,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{104,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>Vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,152},{106,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{106,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>Vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,243},{104,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{104,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>Vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,353},{104,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{104,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>Vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,468},{104,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{104,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>Vip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,234},{104,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{104,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>Vip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,234},{104,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{104,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>acAndNote.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>acDiscountIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,386},{88,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{88,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>attackPrompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,280},{71,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,80}}</string>
                <key>sourceSize</key>
                <string>{71,80}</string>
            </dict>
            <key>buildingIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,267},{68,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>chatVip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,460},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>chatVip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,464},{60,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>chatVip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,443},{58,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,20}}</string>
                <key>sourceSize</key>
                <string>{58,20}</string>
            </dict>
            <key>chatVip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,362},{60,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>chatVip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,490},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>chatVip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,489},{48,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>chatVip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,489},{52,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>chatVip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,487},{50,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>chatVip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,465},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>chatVip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,480},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>chatVip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,477},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>chatVip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,443},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>deputyHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,479},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>firstHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,455},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>gmIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,464},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>greenLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,240},{11,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,1}}</string>
                <key>sourceSize</key>
                <string>{11,1}</string>
            </dict>
            <key>guideHelperSelectSp_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{174,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{174,176}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>guideHelperSelectSp_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,68},{172,164}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{172,164}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>military_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,423},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,432},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,432},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,420},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,375},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,375},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,363},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,423},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,433},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,398},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,366},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,341},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,284},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,309},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,407},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,407},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,403},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,386},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,386},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>military_rank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,384},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>moscowGambAllXpbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{138,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{138,16}}</string>
                <key>sourceSize</key>
                <string>{142,22}</string>
            </dict>
            <key>moscowGambAllbarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,251},{142,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,22}}</string>
                <key>sourceSize</key>
                <string>{142,22}</string>
            </dict>
            <key>moscowgamblingxiangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,68},{115,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,82}}</string>
                <key>sourceSize</key>
                <string>{115,82}</string>
            </dict>
            <key>onlienReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,394},{90,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{90,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>positiveHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,479},{35,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rewardTittleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{289,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{289,66}}</string>
                <key>sourceSize</key>
                <string>{291,68}</string>
            </dict>
            <key>soldierIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,441},{35,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>starIconEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,122},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>systemIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,294},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,296},{62,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{62,60}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,0},{58,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{58,58}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>top3.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,60},{56,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{56,60}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainUIImageNew2.pvr.ccz</string>
            <key>size</key>
            <string>{1022,512}</string>
            <key>textureFileName</key>
            <string>mainUIImageNew2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
