<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AllBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1743},{217,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,24}}</string>
                <key>sourceSize</key>
                <string>{217,24}</string>
            </dict>
            <key>BattleTankNumBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1642},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>BlackBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1665},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>GuideArow.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1539},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>IconAttackBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1329},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>IconAttackBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1579},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>IconBgNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1585},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Icon_task_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1401},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>LegionCheckBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1706},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>LegionCheckBtnUn.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1593},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>LineCross.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1241},{510,3}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{510,3}}</string>
                <key>sourceSize</key>
                <string>{576,11}</string>
            </dict>
            <key>LineEntity.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1296},{435,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,1}}</string>
                <key>sourceSize</key>
                <string>{435,1}</string>
            </dict>
            <key>LockIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1246},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>NoticeLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1537},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PanelBuildUpBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1210},{584,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,29}}</string>
                <key>sourceSize</key>
                <string>{584,29}</string>
            </dict>
            <key>ProduceTankIconSlide_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1693},{52,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>ServerBgBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1677},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>ServerBgBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1677},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>TeamTankSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1373},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{164,164}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>VipIconYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1299},{320,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{320,72}}</string>
                <key>sourceSize</key>
                <string>{328,76}</string>
            </dict>
            <key>VipIconYellowBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1276},{419,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{419,18}}</string>
                <key>sourceSize</key>
                <string>{431,30}</string>
            </dict>
            <key>VipIconYellowBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1246},{429,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{429,28}}</string>
                <key>sourceSize</key>
                <string>{431,30}</string>
            </dict>
            <key>VipLineYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1241},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>allacriveDialogBg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,1134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1134}}</string>
                <key>sourceSize</key>
                <string>{640,1134}</string>
            </dict>
            <key>arrange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1641},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>arrange2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1373},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>arrange3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1485},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>chatBtnAlliance_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1405},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chatBtnFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1662},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chatBtnFriend_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1299},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chatBtnWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1329},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chatBtnWorld_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1580},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chatButtonTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1537},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>chatButtonTo_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1706},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>chat_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1299},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>chat_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1136},{640,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,72}}</string>
                <key>sourceSize</key>
                <string>{640,72}</string>
            </dict>
            <key>chat_report_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1481},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>email.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1650},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>email_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1594},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>guide_res.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1405},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>mainBtnChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1585},{90,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,54}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>mainBtnChat_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1483},{90,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,54}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>mainUiTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1737},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,150}</string>
            </dict>
            <key>main_ui_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1641},{96,100}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>main_ui_7ri.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1401},{100,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>main_ui_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1539},{96,100}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{96,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>new_mainTask_completed.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1537},{11,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,38}}</string>
                <key>sourceSize</key>
                <string>{11,38}</string>
            </dict>
            <key>new_mainTask_notCompleted.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1483},{11,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,38}}</string>
                <key>sourceSize</key>
                <string>{11,38}</string>
            </dict>
            <key>none.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1737},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>playGuideIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1537},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>redline.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,1485},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>shoucang.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1481},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>shoucang_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1637},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>task_guide_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1491},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>task_guide_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1740},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,29}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>task_guide_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1539},{99,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,136}}</string>
                <key>sourceSize</key>
                <string>{99,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainUIImageNew1.pvr.ccz</string>
            <key>size</key>
            <string>{640,1769}</string>
            <key>textureFileName</key>
            <string>mainUIImageNew1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
