<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IconLevel_Angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,204},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>IconLevel_Circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,204},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>SpecialBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,0},{125,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,97}}</string>
                <key>sourceSize</key>
                <string>{125,97}</string>
            </dict>
            <key>SpecialBoxOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{147,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,129}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
            <key>kuangnuTikect.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,102},{94,100}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>message_translate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,204},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>message_translate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,204},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>questionMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{29,45}</string>
            </dict>
            <key>questionMark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,99},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>rpCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,131},{119,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,103}}</string>
                <key>sourceSize</key>
                <string>{119,103}</string>
            </dict>
            <key>skillIcon10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skillIcon10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,102},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skillIcon10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skillIcon10036.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,131},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>taskCheck.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,189},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>old_image_public.pvr.ccz</string>
            <key>size</key>
            <string>{512,264}</string>
            <key>textureFileName</key>
            <string>old_image_public.pvr.ccz</string>
        </dict>
    </dict>
</plist>
