<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_cang_ku.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,334},{90,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_dao_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,336},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{90,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_gai_zhuang_chang.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,180},{90,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{90,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_ke_yan_zhong_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,588},{88,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{88,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_mainui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,306},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_mainui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,204},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_novicePacks.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,102},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_prestige.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,612},{61,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{61,43}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>Icon_prompt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,392},{68,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{68,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_qian_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,398},{88,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{88,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_shi_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,468},{88,64}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{88,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_shui_jing_gong_chang.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,492},{88,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_tai_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,574},{90,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{90,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_tan_ke_gong_chang.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,274},{90,58}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{90,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_tie_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,506},{96,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{96,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_zhu_ji_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,196},{88,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{88,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Item_best_soldier.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,180},{80,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>alliance_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,102},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{92,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_attribute_jianren.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,384},{64,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{64,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_attribute_zhihui.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,516},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{74,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_build.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_help_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,408},{96,96}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_supply_lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,576},{90,80}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{90,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_airsupport.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_attack_player_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,102},{74,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{74,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_attack_wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,588},{92,70}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{92,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,546},{70,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{70,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,428},{86,56}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{86,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,244},{84,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,464},{62,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{62,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,582},{84,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,320},{68,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{68,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,242},{70,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{70,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,102},{80,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,582},{84,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,546},{76,54}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{76,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,486},{78,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,606},{80,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{80,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,612},{84,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{84,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,486},{78,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,428},{86,56}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{86,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,246},{80,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{80,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,278},{92,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{92,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,486},{78,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,334},{94,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{94,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,486},{78,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,486},{78,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,486},{78,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,404},{94,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{94,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,486},{78,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,486},{78,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,492},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{88,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,486},{78,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_baoxiang_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,486},{78,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_buff_peace.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_buff_peace2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_buff_peace3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_commandBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,244},{84,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_developmentBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,582},{84,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_diamond_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,102},{80,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,510},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_luckyCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,408},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_productionBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,102},{90,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{90,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_qiandao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,306},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,204},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,102},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_metal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,510},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_metal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,408},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_metal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,306},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_oil_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_oil_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,102},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_oil_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_silicon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,510},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_silicon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,408},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_silicon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,306},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_uranium_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,204},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_uranium_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_resourse_uranium_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_shuji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,510},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_soldier_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,102},{74,86}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{74,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_xunzhang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,408},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mainBtnTeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,190},{72,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{72,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>player_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,408},{90,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{90,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>resourse_normal_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,612},{64,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{64,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>resourse_normal_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,602},{72,52}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{72,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>resourse_normal_metal.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,180},{90,60}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{90,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>resourse_normal_oil.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,372},{90,54}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{90,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>resourse_normal_silicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,316},{66,66}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>resourse_normal_uranium.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,454},{70,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{70,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,172},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{76,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,306},{78,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{78,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,258},{78,76}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,102},{60,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>old_main_ui_image_2.pvr.ccz</string>
            <key>size</key>
            <string>{1022,658}</string>
            <key>textureFileName</key>
            <string>old_main_ui_image_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
