<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ examine_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,0},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>btn_ examine_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,0},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>btn_blue_triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,0},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>btn_rank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,56},{62,42}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{62,42}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>btn_rank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,0},{66,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{66,46}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>btn_reward_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,56},{52,42}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{52,42}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>btn_reward_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,48},{56,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{56,46}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>btn_shop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,48},{50,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{50,42}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>btn_shop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,0},{54,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{54,46}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>btn_tank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{68,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{68,36}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>btn_tank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,60},{72,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{72,40}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>img_blue_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,68},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>img_red_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,38},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>sham_mid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{609,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,100}}</string>
                <key>sourceSize</key>
                <string>{609,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shamImage.pvr.ccz</string>
            <key>size</key>
            <string>{970,100}</string>
            <key>textureFileName</key>
            <string>shamImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
