<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArowShape.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,194},{90,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{90,122}}</string>
                <key>sourceSize</key>
                <string>{92,126}</string>
            </dict>
            <key>story_LockIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,241},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>story_StarIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,241},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>story_building_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,189},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{300,50}}</string>
                <key>sourceSize</key>
                <string>{314,58}</string>
            </dict>
            <key>story_chapter_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,88},{127,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,86}}</string>
                <key>sourceSize</key>
                <string>{127,86}</string>
            </dict>
            <key>story_chapter_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,0},{127,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,86}}</string>
                <key>sourceSize</key>
                <string>{127,86}</string>
            </dict>
            <key>story_gameoverstar_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,241},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>story_gameoverstar_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,241},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>story_starIconEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,241},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>story_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,189},{138,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{138,130}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>story_star_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,241},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,76},{82,78}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>story_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{110,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,62},{110,106}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>story_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,194},{122,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,55},{122,122}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>story_star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,0},{146,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{146,156}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>story_star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{172,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{172,190}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>story_star_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,206}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{182,206}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>story_star_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{188,192}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{188,192}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>story_star_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,192},{124,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,53},{124,128}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>story_star_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,208},{100,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{100,104}}</string>
                <key>sourceSize</key>
                <string>{190,230}</string>
            </dict>
            <key>target_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,0},{187,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{187,187}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>story_star_batch_image.pvr.ccz</string>
            <key>size</key>
            <string>{1012,321}</string>
            <key>textureFileName</key>
            <string>story_star_batch_image.pvr.ccz</string>
        </dict>
    </dict>
</plist>
