<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_sky.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,875},{1103,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1103,176}}</string>
                <key>sourceSize</key>
                <string>{1103,176}</string>
            </dict>
            <key>checkPointArrowLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1053},{183,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,46}}</string>
                <key>sourceSize</key>
                <string>{185,46}</string>
            </dict>
            <key>checkPointArrowUnLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1062},{183,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,46}}</string>
                <key>sourceSize</key>
                <string>{185,46}</string>
            </dict>
            <key>story_decorate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,875},{477,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,168}}</string>
                <key>sourceSize</key>
                <string>{477,168}</string>
            </dict>
            <key>story_decorate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,846},{282,146}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{282,146}}</string>
                <key>sourceSize</key>
                <string>{296,148}</string>
            </dict>
            <key>story_decorate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,696},{356,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,148}}</string>
                <key>sourceSize</key>
                <string>{356,148}</string>
            </dict>
            <key>story_decorate_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,994},{267,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,118}}</string>
                <key>sourceSize</key>
                <string>{267,118}</string>
            </dict>
            <key>story_distance_mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{1680,177}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1680,177}}</string>
                <key>sourceSize</key>
                <string>{1680,183}</string>
            </dict>
            <key>story_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,694}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,694}}</string>
                <key>sourceSize</key>
                <string>{2048,694}</string>
            </dict>
            <key>story_story_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1053},{236,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{236,87}}</string>
                <key>sourceSize</key>
                <string>{244,93}</string>
            </dict>
            <key>story_story_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1053},{232,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{232,76}}</string>
                <key>sourceSize</key>
                <string>{236,78}</string>
            </dict>
            <key>story_story_cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1053},{231,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{231,65}}</string>
                <key>sourceSize</key>
                <string>{239,67}</string>
            </dict>
            <key>story_story_cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1045},{295,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{295,105}}</string>
                <key>sourceSize</key>
                <string>{301,107}</string>
            </dict>
            <key>story_story_cloud_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,994},{179,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{179,66}}</string>
                <key>sourceSize</key>
                <string>{183,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>storyMapImage.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1150}</string>
            <key>textureFileName</key>
            <string>storyMapImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
