<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishBomb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,468},{234,192}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{234,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fishBomb010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{282,262}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{282,262}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fishBomb011.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,346},{246,276}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{246,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fishBomb012.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,624},{232,266}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{232,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fishBomb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,674},{240,198}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,40},{240,198}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fishBomb03.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,468},{244,204}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,32},{244,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fishBomb04.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,674},{244,216}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{244,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fishBomb05.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,242},{248,224}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{248,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fishBomb06.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{276,240}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{276,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fishBomb07.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,78},{290,256}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{290,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fishBomb08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{288,272}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{288,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fishBomb09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{300,266}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{300,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>newYearActivity.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,874},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,104}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>newYearBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{640,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,20}}</string>
                <key>sourceSize</key>
                <string>{640,20}</string>
            </dict>
            <key>newYearFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,54}}</string>
                <key>sourceSize</key>
                <string>{640,54}</string>
            </dict>
            <key>newYear_fish_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,892},{129,122}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,122}}</string>
                <key>sourceSize</key>
                <string>{145,122}</string>
            </dict>
            <key>newYear_fish_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,242},{129,122}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,122}}</string>
                <key>sourceSize</key>
                <string>{145,122}</string>
            </dict>
            <key>newYear_fish_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,892},{133,120}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,120}}</string>
                <key>sourceSize</key>
                <string>{145,122}</string>
            </dict>
            <key>newYear_fish_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,892},{137,118}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{137,118}}</string>
                <key>sourceSize</key>
                <string>{145,122}</string>
            </dict>
            <key>newYear_fish_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,892},{143,116}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{143,116}}</string>
                <key>sourceSize</key>
                <string>{145,122}</string>
            </dict>
            <key>newYear_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,0},{3,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,164}}</string>
                <key>sourceSize</key>
                <string>{3,164}</string>
            </dict>
            <key>newYear_mammon.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,874},{129,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,104}}</string>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>newYear_mammon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{191,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,116}}</string>
                <key>sourceSize</key>
                <string>{191,116}</string>
            </dict>
            <key>newYear_salute.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,78},{46,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,136}}</string>
                <key>sourceSize</key>
                <string>{46,136}</string>
            </dict>
            <key>newYear_salute_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,366},{95,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>newYear_salute_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,980},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>new_year_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,0},{63,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{63,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newYearImage.pvr.ccz</string>
            <key>size</key>
            <string>{1018,1016}</string>
            <key>textureFileName</key>
            <string>newYearImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
