<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fountain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{1,1}}</string>
                <key>offset</key>
                <string>{-171.5,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{282,147}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{282,147}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{282,149}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,15},{282,149}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{282,147}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{282,147}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{1,1}}</string>
                <key>offset</key>
                <string>{-171.5,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,600},{248,89}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,66},{248,89}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{250,89}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,66},{250,89}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,600},{248,89}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,66},{248,89}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{1,1}}</string>
                <key>offset</key>
                <string>{-171.5,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,691},{216,79}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{216,79}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{216,79}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{216,79}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{344,119}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,119}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,691},{216,79}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{216,79}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,119}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,119}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{344,119}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,119}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{1,1}}</string>
                <key>offset</key>
                <string>{-171.5,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,286},{312,163}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{312,163}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{312,163}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{312,163}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,286},{312,163}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{312,163}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
            <key>fountain_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{1,1}}</string>
                <key>offset</key>
                <string>{-171.5,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{344,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fountainAnim.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ead4a2cd3bb492e09342baa63dcb9a:1/1$</string>
            <key>textureFileName</key>
            <string>fountainAnim.png</string>
        </dict>
    </dict>
</plist>
