<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightline_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{10,165}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,8},{10,165}}</string>
                <key>sourceSize</key>
                <string>{128,173}</string>
            </dict>
            <key>lightline_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{48,165}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,6},{48,165}}</string>
                <key>sourceSize</key>
                <string>{128,173}</string>
            </dict>
            <key>lightline_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,169},{104,165}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{104,165}}</string>
                <key>sourceSize</key>
                <string>{128,173}</string>
            </dict>
            <key>lightline_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{116,165}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{116,165}}</string>
                <key>sourceSize</key>
                <string>{128,173}</string>
            </dict>
            <key>lightline_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{128,165}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,165}}</string>
                <key>sourceSize</key>
                <string>{128,173}</string>
            </dict>
            <key>lightline_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{116,165}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{116,165}}</string>
                <key>sourceSize</key>
                <string>{128,173}</string>
            </dict>
            <key>lightline_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,169}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{104,169}}</string>
                <key>sourceSize</key>
                <string>{128,173}</string>
            </dict>
            <key>lightline_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,336},{48,165}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,6},{48,165}}</string>
                <key>sourceSize</key>
                <string>{128,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightlineAnim.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a95dd9a17cdacb3069893c425e66bb2:1/1$</string>
            <key>textureFileName</key>
            <string>lightlineAnim.png</string>
        </dict>
    </dict>
</plist>
