<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>runestower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{1,1}}</string>
                <key>offset</key>
                <string>{-58,37.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,64},{67,66}}</string>
                <key>offset</key>
                <string>{25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{67,66}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{79,58}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,18},{79,58}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{93,46}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{93,46}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{103,40}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{103,40}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,36}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{107,36}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,44},{87,46}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{87,46}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,92},{73,52}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{73,52}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,132},{71,60}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{71,60}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{57,64}}</string>
                <key>offset</key>
                <string>{-30,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,64}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,146},{51,54}}</string>
                <key>offset</key>
                <string>{-33,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{51,54}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,44},{15,28}}</string>
                <key>offset</key>
                <string>{29,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,202},{33,50}}</string>
                <key>offset</key>
                <string>{-42,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{33,50}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,92},{25,30}}</string>
                <key>offset</key>
                <string>{35,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,3},{25,30}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,148},{29,34}}</string>
                <key>offset</key>
                <string>{39,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,6},{29,34}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{31,40}}</string>
                <key>offset</key>
                <string>{40,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,8},{31,40}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,194},{31,48}}</string>
                <key>offset</key>
                <string>{41,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,7},{31,48}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,194},{33,56}}</string>
                <key>offset</key>
                <string>{41,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,7},{33,56}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{35,60}}</string>
                <key>offset</key>
                <string>{41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,9},{35,60}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>runestower_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,202},{49,64}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,10},{49,64}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runestowerAnim.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18c87f69fb55d334e607df5a8f0ca6c2:1/1$</string>
            <key>textureFileName</key>
            <string>runestowerAnim.png</string>
        </dict>
    </dict>
</plist>
