<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>killSheep1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{15,16}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{15,16}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>killSheep2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,252},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>killSheep3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,301},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>killSheep4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,291},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>killSheep5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,201},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>killSheep6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,250},{59,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,49}</string>
            </dict>
            <key>killSheep7.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,299},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>sheep_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,71},{76,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,69},{78,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{78,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,67},{78,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{78,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{76,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,199},{76,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,136},{76,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,138},{76,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,65}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,134},{78,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,63}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,69},{78,63}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{80,63}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{78,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{78,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{78,63}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,65}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>sheep_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,201},{63,47}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{63,47}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>sheep_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,252},{63,45}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{63,45}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>sheep_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,203},{65,47}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{65,47}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>sheep_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,244},{63,45}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{63,45}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>sheep_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,195},{65,47}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{65,47}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>sheep_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,140},{65,53}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{65,53}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>sheep_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,138},{65,61}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{65,61}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>sheep_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,71},{65,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{65,65}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>sheep_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,207},{65,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,67}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>sheep_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{67,49}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{67,49}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheepAnim.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fecf3f09186a7d27ab63ee85b4fbe934:1/1$</string>
            <key>textureFileName</key>
            <string>sheepAnim.png</string>
        </dict>
    </dict>
</plist>
