<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ac_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,816},{194,190}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{194,190}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,476},{192,192}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{192,192}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,632},{190,186}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{190,186}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,820},{180,184}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{180,184}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,438},{186,196}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{186,196}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,626},{186,192}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{186,192}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,816},{186,190}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{186,190}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,818},{190,188}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{190,188}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{192,188}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{192,188}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,816},{190,190}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{190,190}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{172,178}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{172,178}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,438},{186,192}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{186,192}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,220},{178,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{178,178}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,820},{186,184}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{186,184}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,816},{190,192}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{190,192}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>ac_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,270},{210,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,204}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>waterfall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{216,268}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{216,268}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,220},{216,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{216,266}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,274},{218,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{218,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{216,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{216,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{218,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{218,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,274},{216,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{216,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{216,270}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{216,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,274},{216,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{216,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,546},{218,268}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{218,268}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{218,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{218,266}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,546},{216,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{216,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{218,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{218,270}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{218,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{218,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{216,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{216,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,274},{214,270}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{214,270}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,546},{214,268}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{214,268}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
            <key>waterfall_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,546},{216,268}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{216,268}}</string>
                <key>sourceSize</key>
                <string>{230,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>waterfall.png</string>
            <key>size</key>
            <string>{1764,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acec60ff81989236d7142ff294d6ecc1:1/1$</string>
            <key>textureFileName</key>
            <string>waterfall.png</string>
        </dict>
    </dict>
</plist>
