<?xml version="1.0" encoding="utf-8"?>
<config pluginId="600057">
	<paramLs>
		<param name = "param_name_value" required = "1" desc = "param_desc_value" showName = "param_show_name_value" bWriteIntoManifest = "0" bUserOffer = "1"/>
	</paramLs>
	
	<operateLs></operateLs>
	
	<pluginLs>
		<plugin name = "TYPE_PROJECTNAME_USER_VALUE" typePlugin = "0" desc = "TYPE_PROJECTNAME_USER_VALUE"/>
		<plugin name = "TYPE_PROJECTNAME_PAY_VALUE" typePlugin = "2" desc = "TYPE_PROJECTNAME_PAY_VALUE"/>
	</pluginLs>
	<version code = "1000" showVersion = "2.0.0_1.0.0" minClientVer="2.0"
        minFrameworkVer="2.0">
        <![CDATA[更新至1.1.2版本 ]]>
    </version>
</config>