<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acTransportplane.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{540,347}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,347}}</string>
                <key>sourceSize</key>
                <string>{550,347}</string>
            </dict>
            <key>mian_signal_lamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,276},{232,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,129}}</string>
                <key>sourceSize</key>
                <string>{232,129}</string>
            </dict>
            <key>packageBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,724},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>packageBox_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,960},{12,17}}</string>
                <key>offset</key>
                <string>{-43,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>packageBox_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,599},{42,63}}</string>
                <key>offset</key>
                <string>{-27,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>packageBox_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,265},{76,79}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>packageBox_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,813},{74,79}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{74,79}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>packageBox_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,346},{44,65}}</string>
                <key>offset</key>
                <string>{27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,22},{44,65}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>parachute01.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,539},{17,319}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,12},{17,319}}</string>
                <key>sourceSize</key>
                <string>{275,355}</string>
            </dict>
            <key>parachute02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,425},{61,297}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,32},{61,297}}</string>
                <key>sourceSize</key>
                <string>{275,355}</string>
            </dict>
            <key>parachute03.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,0},{141,263}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,66},{141,263}}</string>
                <key>sourceSize</key>
                <string>{275,355}</string>
            </dict>
            <key>parachute04.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,671},{183,249}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,80},{183,249}}</string>
                <key>sourceSize</key>
                <string>{275,355}</string>
            </dict>
            <key>parachute05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,733},{239,199}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,130},{239,199}}</string>
                <key>sourceSize</key>
                <string>{275,355}</string>
            </dict>
            <key>parachute06.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,274},{261,149}}</string>
                <key>offset</key>
                <string>{-2,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,198},{261,149}}</string>
                <key>sourceSize</key>
                <string>{275,355}</string>
            </dict>
            <key>shadow_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,922},{139,55}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{139,55}}</string>
                <key>sourceSize</key>
                <string>{151,69}</string>
            </dict>
            <key>shadow_parachute_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,349},{418,108}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{418,108}}</string>
                <key>sourceSize</key>
                <string>{430,140}</string>
            </dict>
            <key>shadow_parachute_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,425},{378,112}}</string>
                <key>offset</key>
                <string>{18,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,3},{378,112}}</string>
                <key>sourceSize</key>
                <string>{430,140}</string>
            </dict>
            <key>shadow_parachute_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,539},{308,130}}</string>
                <key>offset</key>
                <string>{53,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,5},{308,130}}</string>
                <key>sourceSize</key>
                <string>{430,140}</string>
            </dict>
            <key>signal_lamp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,539},{58,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>smokebomb_handle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,934},{59,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{59,18}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,934},{51,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{51,34}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,349},{19,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{19,56}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,934},{57,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{57,24}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,349},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{37,46}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,925},{37,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{37,52}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,943},{53,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{53,12}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,925},{55,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{55,16}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,407},{57,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{57,16}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,349},{55,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{55,24}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,375},{57,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{57,20}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,934},{57,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{57,22}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,941},{59,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{59,14}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,925},{59,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{59,14}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,407},{59,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{59,16}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_handle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,957},{59,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{59,12}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>smokebomb_smoke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,731},{176,246}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{176,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>smokebomb_smoke_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,671},{180,252}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,25},{180,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>smokebomb_smoke_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,407},{190,262}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{190,262}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>smokebomb_smoke_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,459},{228,270}}</string>
                <key>offset</key>
                <string>{-36,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{228,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>smokebomb_smoke_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,0},{230,274}}</string>
                <key>offset</key>
                <string>{-35,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>smokebomb_smoke_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,459},{194,272}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{194,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>smokebomb_smoke_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,0},{198,272}}</string>
                <key>offset</key>
                <string>{-23,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{198,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>smokebomb_smoke_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,671},{200,252}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{200,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AirdropMaterial.pvr.ccz</string>
            <key>size</key>
            <string>{1115,977}</string>
            <key>textureFileName</key>
            <string>AirdropMaterial.pvr.ccz</string>
        </dict>
    </dict>
</plist>
