<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>j_65_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,188},{78,92}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{78,92}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,94},{78,92}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{78,92}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{78,90}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{78,90}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,92},{76,90}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{76,90}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{78,92}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{78,92}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,192},{78,92}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{78,92}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,120},{78,92}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{78,92}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,98},{78,92}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{78,92}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{78,92}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{78,92}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{78,92}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{78,92}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,184},{78,86}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{78,86}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{78,96}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{78,96}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,112}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{78,112}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{76,118}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{76,118}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,98},{76,110}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{76,110}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{76,88}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,31},{76,88}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,214},{78,82}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{78,82}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>j_65_3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,210},{78,86}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{78,86}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liebingHoom10065.pvr.ccz</string>
            <key>size</key>
            <string>{476,297}</string>
            <key>textureFileName</key>
            <string>liebingHoom10065.pvr.ccz</string>
        </dict>
    </dict>
</plist>
