<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>j_1_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,84},{60,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{60,82}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,84},{60,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{60,82}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,84},{60,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{60,82}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{60,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{60,82}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{60,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{60,82}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{60,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{60,82}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{60,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{60,82}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{60,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{60,82}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,84},{58,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{58,82}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,84},{58,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{58,82}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,168},{58,78}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{58,78}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,168},{52,86}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{52,86}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{50,90}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{50,90}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,94}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{50,94}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,168},{50,88}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{50,88}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,168},{50,80}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{50,80}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,168},{54,74}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{54,74}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>j_1_3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,168},{54,78}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{54,78}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liebingHoom10021.pvr.ccz</string>
            <key>size</key>
            <string>{380,256}</string>
            <key>textureFileName</key>
            <string>liebingHoom10021.pvr.ccz</string>
        </dict>
    </dict>
</plist>
