<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_1_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,102},{74,94}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{74,94}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,96},{72,94}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{72,94}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{72,94}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{72,94}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,96},{72,94}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{72,94}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{72,94}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{72,94}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,102},{74,94}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{74,94}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,188},{74,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{74,92}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,94},{74,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{74,92}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{74,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{74,92}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{74,92}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{74,92}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,198},{84,78}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{84,78}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,192},{84,86}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{84,86}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{84,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{84,100}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,100}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,198},{82,80}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{82,80}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{76,76}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>h_1_3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,192},{76,84}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{76,84}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liebingHoom10011.pvr.ccz</string>
            <key>size</key>
            <string>{494,280}</string>
            <key>textureFileName</key>
            <string>liebingHoom10011.pvr.ccz</string>
        </dict>
    </dict>
</plist>
