<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>j_5_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,103},{86,85}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{86,85}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,85},{86,83}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{86,83}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{88,83}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{88,83}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,172},{86,83}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{86,83}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,87},{86,83}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{86,83}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{86,85}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{86,85}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,186},{86,83}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{86,83}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,101},{86,83}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{86,83}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,190},{86,83}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{86,83}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{86,83}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{86,83}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{92,79}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{92,79}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,107},{82,89}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{82,89}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{74,101}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{74,101}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,105}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{72,105}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{74,99}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{74,99}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,170},{78,81}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{78,81}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,81},{76,79}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{76,79}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>j_5_3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,170},{78,81}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{78,81}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liebingHoom10025.pvr.ccz</string>
            <key>size</key>
            <string>{512,281}</string>
            <key>textureFileName</key>
            <string>liebingHoom10025.pvr.ccz</string>
        </dict>
    </dict>
</plist>
