<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_3_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{74,92}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{74,92}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,94},{74,92}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{74,92}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,94},{72,92}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{72,92}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{72,92}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{72,92}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,94},{72,92}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{72,92}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{74,92}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{74,92}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,96},{74,92}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{74,92}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,188},{74,90}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{74,90}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,188},{74,90}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{74,90}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,96},{74,92}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{74,92}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{86,80}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{86,80}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,190},{90,88}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{90,94}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{90,94}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,98}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{90,96}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{86,82}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{86,82}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,198},{78,78}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{78,78}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>h_3_3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,188},{76,82}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{76,82}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liebingHoom10013.pvr.ccz</string>
            <key>size</key>
            <string>{496,278}</string>
            <key>textureFileName</key>
            <string>liebingHoom10013.pvr.ccz</string>
        </dict>
    </dict>
</plist>
