<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>j_3_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,88},{76,86}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{76,86}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,86},{76,84}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{76,84}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{76,84}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{76,84}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,88},{76,84}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{76,84}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{76,86}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{76,86}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{74,86}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{74,86}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,86},{74,84}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{74,84}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{72,84}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{72,84}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{74,84}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{74,84}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,172},{74,84}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{74,84}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,176},{80,80}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{80,80}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,108},{72,90}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{72,90}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{62,108}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{62,108}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,110}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{60,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{62,106}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{62,106}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,174},{68,82}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{68,82}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_3_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,172},{68,78}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{68,78}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>j_3_3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,174},{68,82}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{68,82}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liebingHoom10023.pvr.ccz</string>
            <key>size</key>
            <string>{506,256}</string>
            <key>textureFileName</key>
            <string>liebingHoom10023.pvr.ccz</string>
        </dict>
    </dict>
</plist>
