<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tjb_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{72,89}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{72,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,91},{72,89}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{72,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,273},{72,89}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{72,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,182},{72,89}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{72,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,273},{74,89}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{74,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,182},{74,89}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{74,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,182},{74,89}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{74,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,91},{72,89}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{72,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,364},{72,89}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{72,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{84,89}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{84,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,91},{84,89}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{84,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{84,89}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{84,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,372},{84,87}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,87}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,372},{84,87}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,87}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,372},{84,87}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,87}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,372},{84,87}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,87}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{84,87}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,87}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,0},{84,89}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{84,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,186},{100,89}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{100,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,368},{100,89}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{100,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,277},{100,89}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{100,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,93},{98,89}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{98,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,368},{98,89}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{98,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,277},{98,89}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{98,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,368},{98,89}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{98,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,277},{98,89}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{98,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,186},{100,89}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{100,89}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{102,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,93},{102,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,279},{102,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,186},{102,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{102,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,93},{102,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,279},{102,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,186},{102,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,93},{102,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{106,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,279},{106,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,186},{106,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,93},{106,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{106,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,279},{106,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{106,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,93},{106,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>tjb_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,91}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tujishibing.pvr.ccz</string>
            <key>size</key>
            <string>{874,459}</string>
            <key>textureFileName</key>
            <string>tujishibing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
