<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vipCanBuildNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,166},{74,66}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{74,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vipDonate.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,166},{76,68}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{76,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vipExpedition.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{84,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{84,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vipIron.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{92,84}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{92,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vipNoPhysical.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,86},{80,78}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vipPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,234},{26,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,5}}</string>
                <key>sourceSize</key>
                <string>{26,5}</string>
            </dict>
            <key>vipPointRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,234},{26,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{26,4}</string>
            </dict>
            <key>vipReduceLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{100,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vipResourceNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vipNew.pvr.ccz</string>
            <key>size</key>
            <string>{238,242}</string>
            <key>textureFileName</key>
            <string>vipNew.pvr.ccz</string>
        </dict>
    </dict>
</plist>
