<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allianceOnthebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,933},{640,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,51}}</string>
                <key>sourceSize</key>
                <string>{640,51}</string>
            </dict>
            <key>allianceWar2BlueBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,865},{408,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,66}}</string>
                <key>sourceSize</key>
                <string>{408,66}</string>
            </dict>
            <key>allianceWar2DownBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,770},{640,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,93}}</string>
                <key>sourceSize</key>
                <string>{640,93}</string>
            </dict>
            <key>allianceWar2RedBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,865},{408,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,66}}</string>
                <key>sourceSize</key>
                <string>{408,66}</string>
            </dict>
            <key>allianceWar2_select_map.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,447},{640,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,321}}</string>
                <key>sourceSize</key>
                <string>{640,321}</string>
            </dict>
            <key>allianceWar4_select_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,445}}</string>
                <key>sourceSize</key>
                <string>{640,445}</string>
            </dict>
            <key>allianceliftflg.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,79},{241,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,77}}</string>
                <key>sourceSize</key>
                <string>{241,77}</string>
            </dict>
            <key>alliancerightflg.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{241,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,77}}</string>
                <key>sourceSize</key>
                <string>{241,77}</string>
            </dict>
            <key>target_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,158},{187,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{187,187}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newAllianceWar2.pvr.ccz</string>
            <key>size</key>
            <string>{883,984}</string>
            <key>textureFileName</key>
            <string>newAllianceWar2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
