<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IconTipNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,34},{22,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>WarBuffCommanderNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,179},{82,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>WarBuffNetgetNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,74},{68,80}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{68,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>WarBuffSmeltExpertNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,179},{90,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>WarBuffStatisticianNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{88,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>allianceHeaderBgNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{169,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,44}}</string>
                <key>sourceSize</key>
                <string>{169,44}</string>
            </dict>
            <key>allianceMainBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,0},{99,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>allianceMainBtndown.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,187},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>allianceWar2New_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,144},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>allianceWar2New_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,109},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>allianceWar2New_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,74},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>allianceWar2New_tech_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,94},{99,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>allianceWar2New_tech_btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,94},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>lodingImagebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mainBtnMailNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{99,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>mainBtnMailNew_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,188},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>timeimagebg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,46},{162,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,26}}</string>
                <key>sourceSize</key>
                <string>{162,26}</string>
            </dict>
            <key>war_backBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{124,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{124,92}</string>
            </dict>
            <key>war_backBtnDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{124,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{124,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newWarCommon.pvr.ccz</string>
            <key>size</key>
            <string>{510,282}</string>
            <key>textureFileName</key>
            <string>newWarCommon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
