<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allianceHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{90,84}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{90,84}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>allianceHelpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>allianceHelpBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,168},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>allianceHelpBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,112},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>allianceHelpMe.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>freeSpeedupBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,56},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>freeSpeedupBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>freeSpeedupBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>freeSpeedup.pvr.ccz</string>
            <key>size</key>
            <string>{279,234}</string>
            <key>textureFileName</key>
            <string>freeSpeedup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
