<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_10031.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,477},{440,325}}</string>
                <key>offset</key>
                <string>{42,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,183},{440,325}}</string>
                <key>sourceSize</key>
                <string>{546,569}</string>
            </dict>
            <key>soldier_10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,477},{440,427}}</string>
                <key>offset</key>
                <string>{22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,107},{440,427}}</string>
                <key>sourceSize</key>
                <string>{546,569}</string>
            </dict>
            <key>soldier_10033.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{512,475}}</string>
                <key>offset</key>
                <string>{13,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,91},{512,475}}</string>
                <key>sourceSize</key>
                <string>{546,569}</string>
            </dict>
            <key>soldier_10034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,419},{512,435}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,97},{512,435}}</string>
                <key>sourceSize</key>
                <string>{546,569}</string>
            </dict>
            <key>soldier_10035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{538,417}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{538,417}}</string>
                <key>sourceSize</key>
                <string>{546,569}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldierType8.pvr.ccz</string>
            <key>size</key>
            <string>{1396,904}</string>
            <key>textureFileName</key>
            <string>soldierType8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
