<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,0},{369,575}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,60},{369,575}}</string>
                <key>sourceSize</key>
                <string>{403,635}</string>
            </dict>
            <key>soldier_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,0},{347,577}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,58},{347,577}}</string>
                <key>sourceSize</key>
                <string>{403,635}</string>
            </dict>
            <key>soldier_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{341,635}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{341,635}}</string>
                <key>sourceSize</key>
                <string>{403,635}</string>
            </dict>
            <key>soldier_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,0},{351,573}}</string>
                <key>offset</key>
                <string>{10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,62},{351,573}}</string>
                <key>sourceSize</key>
                <string>{403,635}</string>
            </dict>
            <key>soldier_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,0},{341,593}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{341,593}}</string>
                <key>sourceSize</key>
                <string>{403,635}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldierType2.pvr.ccz</string>
            <key>size</key>
            <string>{1757,635}</string>
            <key>textureFileName</key>
            <string>soldierType2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
