<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,0},{347,585}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{347,585}}</string>
                <key>sourceSize</key>
                <string>{403,605}</string>
            </dict>
            <key>soldier_10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,0},{357,581}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{357,581}}</string>
                <key>sourceSize</key>
                <string>{403,605}</string>
            </dict>
            <key>soldier_10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,0},{345,595}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{345,595}}</string>
                <key>sourceSize</key>
                <string>{403,605}</string>
            </dict>
            <key>soldier_10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{355,631}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,3},{355,631}}</string>
                <key>sourceSize</key>
                <string>{403,635}</string>
            </dict>
            <key>soldier_10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{347,593}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,42},{347,593}}</string>
                <key>sourceSize</key>
                <string>{403,635}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldierType4.pvr.ccz</string>
            <key>size</key>
            <string>{1759,631}</string>
            <key>textureFileName</key>
            <string>soldierType4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
