<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boomEffect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,215},{66,124}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{66,124}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>boomEffect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,356},{66,124}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{66,124}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>boomEffect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,73},{66,140}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{66,140}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>boomEffect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,350},{64,136}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{64,136}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>boomEffect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,350},{64,138}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{64,138}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>boomEffect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,341},{60,144}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{60,144}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>boomEffect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,113},{62,148}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{62,148}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>boomEffect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,113},{66,148}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,148}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>world_base_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{122,71}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{122,71}}</string>
                <key>sourceSize</key>
                <string>{128,137}</string>
            </dict>
            <key>world_base_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,263},{128,85}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{128,85}}</string>
                <key>sourceSize</key>
                <string>{128,137}</string>
            </dict>
            <key>world_base_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{128,111}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{128,111}}</string>
                <key>sourceSize</key>
                <string>{128,137}</string>
            </dict>
            <key>world_base_guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{128,106}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>world_base_guang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{128,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>world_base_guang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>world_base_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{102,112}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{102,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldBaseBoom.pvr.ccz</string>
            <key>size</key>
            <string>{382,493}</string>
            <key>textureFileName</key>
            <string>worldBaseBoom.pvr.ccz</string>
        </dict>
    </dict>
</plist>
