<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>double11_bkg_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,232},{172,181}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,181}}</string>
                <key>sourceSize</key>
                <string>{172,187}</string>
            </dict>
            <key>double11_bkg_guagua.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{352,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,40}}</string>
                <key>sourceSize</key>
                <string>{352,40}</string>
            </dict>
            <key>double11_bkg_guagua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{352,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,40}}</string>
                <key>sourceSize</key>
                <string>{352,40}</string>
            </dict>
            <key>double11_bkg_guagua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{450,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,146}}</string>
                <key>sourceSize</key>
                <string>{450,148}</string>
            </dict>
            <key>double11_bkg_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,468},{85,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,44}}</string>
                <key>sourceSize</key>
                <string>{85,44}</string>
            </dict>
            <key>double11_bkg_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{172,181}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,181}}</string>
                <key>sourceSize</key>
                <string>{172,187}</string>
            </dict>
            <key>double11_bkg_tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,378},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>double11_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,310},{86,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{86,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>double11_icon_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,148},{100,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>double11_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,491},{166,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,1}}</string>
                <key>sourceSize</key>
                <string>{166,1}</string>
            </dict>
            <key>double11_pic_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,160},{120,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,74}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>double11_pic_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,84},{120,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,74}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>double11_pic_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,392},{120,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,74}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>double11_pic_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,316},{120,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,74}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>double11_pic_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,236},{116,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,82}</string>
            </dict>
            <key>double11_pic_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,240},{120,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,74}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>double11_pic_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,415},{120,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,74}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>double11_pic_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,415},{120,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,74}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>double11_pic_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,415},{120,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,74}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>double11_pic_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{116,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,82}}</string>
                <key>sourceSize</key>
                <string>{116,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>acDouble11.pvr.ccz</string>
            <key>size</key>
            <string>{587,512}</string>
            <key>textureFileName</key>
            <string>acDouble11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
