<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allianceHeaderBg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,298},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>amAddjiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,972},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>amGotoBlueGradient.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,826},{375,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,40}}</string>
                <key>sourceSize</key>
                <string>{375,40}</string>
            </dict>
            <key>amGotoRedGradient.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,784},{375,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,40}}</string>
                <key>sourceSize</key>
                <string>{375,40}</string>
            </dict>
            <key>amHeaderBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,150},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>amNum10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,449},{14,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{14,36}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amNum20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,616},{26,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{26,36}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amNum30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,559},{26,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{26,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amNum40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,523},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{26,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amNum50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,616},{26,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{26,36}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amNum60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,487},{26,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{26,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amPointCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1000},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>amPointLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1000},{300,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,2}}</string>
                <key>sourceSize</key>
                <string>{300,10}</string>
            </dict>
            <key>amSuitBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,747},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>amSuitBg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,747},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>amSuitIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,868},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>amSuitIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,868},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>amSuitIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,868},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>amTankPosBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,473},{120,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>amTankPosBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,190},{120,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,106}}</string>
                <key>sourceSize</key>
                <string>{120,106}</string>
            </dict>
            <key>amTitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,965},{541,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,33}}</string>
                <key>sourceSize</key>
                <string>{543,33}</string>
            </dict>
            <key>amWarehouseBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{608,1015}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,1015}}</string>
                <key>sourceSize</key>
                <string>{608,1015}</string>
            </dict>
            <key>armorMatrixBuilding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,190},{232,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{232,168}}</string>
                <key>sourceSize</key>
                <string>{244,188}</string>
            </dict>
            <key>armorMatrixExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,868},{82,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{82,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>armorMatrix_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,78},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>armorMatrix_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,944},{86,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{86,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>armorMatrix_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,336},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{66,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>armorMatrix_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,0},{70,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{70,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>armorMatrix_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,677},{72,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{72,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>armorMatrix_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,958},{78,64}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{78,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>armorMatrix_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,958},{76,64}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{76,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>armorMatrix_ditu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{634,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,607}}</string>
                <key>sourceSize</key>
                <string>{634,607}</string>
            </dict>
            <key>armorMatrix_ditu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,609},{634,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,297}}</string>
                <key>sourceSize</key>
                <string>{634,297}</string>
            </dict>
            <key>armorMatrix_ditu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,360},{304,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,111}}</string>
                <key>sourceSize</key>
                <string>{304,111}</string>
            </dict>
            <key>armorMatrix_ditu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{588,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,55}}</string>
                <key>sourceSize</key>
                <string>{588,55}</string>
            </dict>
            <key>armorMatrix_fenGexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1000},{17,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,3}}</string>
                <key>sourceSize</key>
                <string>{17,3}</string>
            </dict>
            <key>armorMatrix_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,677},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>armorMatrix_tank_ditubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,0},{302,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,188}}</string>
                <key>sourceSize</key>
                <string>{302,188}</string>
            </dict>
            <key>armor_qMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,908},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>equipBg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,473},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipBg_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,575},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipBg_gray2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,965},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>equipBg_gray3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,682},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipBg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,473},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipBg_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,580},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipBg_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,682},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equipBg_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,580},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lineAndPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1000},{155,17}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,17}}</string>
                <key>sourceSize</key>
                <string>{157,19}</string>
            </dict>
            <key>selectedPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,575},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>unselectedPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,408},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>armorMatrixCommon.pvr.ccz</string>
            <key>size</key>
            <string>{1622,1022}</string>
            <key>textureFileName</key>
            <string>armorMatrixCommon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
