<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amBottomLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,470},{613,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,30}}</string>
                <key>sourceSize</key>
                <string>{613,30}</string>
            </dict>
            <key>amChangeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,714},{9,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,103}}</string>
                <key>sourceSize</key>
                <string>{9,103}</string>
            </dict>
            <key>amLine1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,777},{71,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,45}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
            <key>amLine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,777},{72,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,45}}</string>
                <key>sourceSize</key>
                <string>{72,45}</string>
            </dict>
            <key>amLine3.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,777},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>amLine4.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,777},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>amLine5.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,714},{75,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,123}}</string>
                <key>sourceSize</key>
                <string>{75,123}</string>
            </dict>
            <key>amLine6.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,714},{75,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,123}}</string>
                <key>sourceSize</key>
                <string>{75,123}</string>
            </dict>
            <key>amMainBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,470},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>amMainTank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,665},{214,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,160}}</string>
                <key>sourceSize</key>
                <string>{214,160}</string>
            </dict>
            <key>amNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,752},{14,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{14,36}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,714},{26,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{26,36}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amNum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,672},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{26,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amNum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,672},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{26,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amNum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,714},{26,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{26,36}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amNum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,672},{26,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>amTank.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,714},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,38}}</string>
                <key>sourceSize</key>
                <string>{113,38}</string>
            </dict>
            <key>amTankPosBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,470},{536,242}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{536,242}}</string>
                <key>sourceSize</key>
                <string>{598,264}</string>
            </dict>
            <key>armor_arm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,754},{612,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,63}}</string>
                <key>sourceSize</key>
                <string>{612,63}</string>
            </dict>
            <key>armor_arm_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,502},{156,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,135}}</string>
                <key>sourceSize</key>
                <string>{156,135}</string>
            </dict>
            <key>armor_arm_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,472},{103,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,348}}</string>
                <key>sourceSize</key>
                <string>{103,350}</string>
            </dict>
            <key>armor_recruit_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,0},{158,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,191}}</string>
                <key>sourceSize</key>
                <string>{158,191}</string>
            </dict>
            <key>armor_recruit_blueBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,502},{176,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,168}}</string>
                <key>sourceSize</key>
                <string>{180,168}</string>
            </dict>
            <key>armor_recruit_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>armor_recruit_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,470},{61,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{61,280}}</string>
                <key>sourceSize</key>
                <string>{187,280}</string>
            </dict>
            <key>armor_recruit_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,470},{65,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{65,280}}</string>
                <key>sourceSize</key>
                <string>{187,280}</string>
            </dict>
            <key>armor_recruit_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,470},{77,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{77,280}}</string>
                <key>sourceSize</key>
                <string>{187,280}</string>
            </dict>
            <key>armor_recruit_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,472},{111,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{111,280}}</string>
                <key>sourceSize</key>
                <string>{187,280}</string>
            </dict>
            <key>armor_recruit_l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,472},{135,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{135,280}}</string>
                <key>sourceSize</key>
                <string>{187,280}</string>
            </dict>
            <key>armor_recruit_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,714},{254,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,61}}</string>
                <key>sourceSize</key>
                <string>{254,61}</string>
            </dict>
            <key>armor_recruit_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,193},{157,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,191}}</string>
                <key>sourceSize</key>
                <string>{159,191}</string>
            </dict>
            <key>armor_recruit_purpleBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,672},{176,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,168}}</string>
                <key>sourceSize</key>
                <string>{180,168}</string>
            </dict>
            <key>armor_recruit_time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,502},{251,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,161}}</string>
                <key>sourceSize</key>
                <string>{251,161}</string>
            </dict>
            <key>armor_recruit_time2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,672},{251,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,161}}</string>
                <key>sourceSize</key>
                <string>{251,161}</string>
            </dict>
            <key>shangsheng_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,0},{300,468}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{300,468}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>shangsheng_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,0},{300,468}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{300,468}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>shangsheng_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,0},{300,468}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{300,468}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>shangsheng_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,0},{300,468}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{300,468}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>shangsheng_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{300,468}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{300,468}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>shangsheng_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,470}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{300,470}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>armorMatrix.pvr.ccz</string>
            <key>size</key>
            <string>{1992,847}</string>
            <key>textureFileName</key>
            <string>armorMatrix.pvr.ccz</string>
        </dict>
    </dict>
</plist>
