<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iconGold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,83},{63,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{63,34}}</string>
                <key>sourceSize</key>
                <string>{75,36}</string>
            </dict>
            <key>iconGold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,119},{74,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,48}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>iconGold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,73},{79,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{79,56}}</string>
                <key>sourceSize</key>
                <string>{83,58}</string>
            </dict>
            <key>iconGold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{93,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,69}}</string>
                <key>sourceSize</key>
                <string>{93,69}</string>
            </dict>
            <key>iconGold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>iconGold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,79}}</string>
                <key>sourceSize</key>
                <string>{143,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iconGoldImage.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1acc33dbfb6e217271d179b1cdedd70b:1/1$</string>
            <key>textureFileName</key>
            <string>iconGoldImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
