<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>90</real>
	<key>angleVariance</key>
	<real>360</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<string>775</string>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.058824</real>
	<key>finishColorGreen</key>
	<string>0.198</string>
	<key>finishColorRed</key>
	<string>0.638</string>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<string>0.00</string>
	<key>finishParticleSizeVariance</key>
	<real>0</real>
	<key>gravityx</key>
	<real>-66</real>
	<key>gravityy</key>
	<string>91.68</string>
	<key>maxParticles</key>
	<string>249.69</string>
	<key>maxRadius</key>
	<real>276.209991</real>
	<key>maxRadiusVariance</key>
	<real>154.949997</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<string>4.68</string>
	<key>particleLifespanVariance</key>
	<real>1</real>
	<key>radialAccelVariance</key>
	<string>112.44</string>
	<key>radialAcceleration</key>
	<real>0</real>
	<key>rotatePerSecond</key>
	<real>35.529999</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>144</real>
	<key>sourcePositionVariancey</key>
	<real>0</real>
	<key>sourcePositionx</key>
	<real>243</real>
	<key>sourcePositiony</key>
	<real>-36</real>
	<key>speed</key>
	<real>1</real>
	<key>speedVariance</key>
	<real>0</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.243137</real>
	<key>startColorGreen</key>
	<string>0.358</string>
	<key>startColorRed</key>
	<string>0.497</string>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<string>8.71</string>
	<key>startParticleSizeVariance</key>
	<string>9.86</string>
	<key>tangentialAccelVariance</key>
	<real>50</real>
	<key>tangentialAcceleration</key>
	<string>151.65</string>
	<key>textureFileName</key>
	<string>particleFire.png</string>
</dict>
</plist>
