<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RechargeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,337},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>RechargeBgSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,337},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>grayActivetyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,436},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>img_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,337},{89,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>item_arena_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,436},{76,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{76,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>paleblueBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,520},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>photoInfoFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,287},{283,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,277}}</string>
                <key>sourceSize</key>
                <string>{283,277}</string>
            </dict>
            <key>photoSelectFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{326,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,335}}</string>
                <key>sourceSize</key>
                <string>{326,335}</string>
            </dict>
            <key>photo_info_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{325,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,334}}</string>
                <key>sourceSize</key>
                <string>{325,334}</string>
            </dict>
            <key>photo_info_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,0},{292,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,285}}</string>
                <key>sourceSize</key>
                <string>{292,285}</string>
            </dict>
            <key>skill_shade_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,520},{230,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,38}}</string>
                <key>sourceSize</key>
                <string>{230,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newUnCompress2.pvr.ccz</string>
            <key>size</key>
            <string>{947,564}</string>
            <key>textureFileName</key>
            <string>newUnCompress2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
