<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HuoxianmingjiangBg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{606,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,252}}</string>
                <key>sourceSize</key>
                <string>{606,252}</string>
            </dict>
            <key>powerLevelUp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{470,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,159}}</string>
                <key>sourceSize</key>
                <string>{470,159}</string>
            </dict>
            <key>power_uplv_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,254},{416,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{416,128}}</string>
                <key>sourceSize</key>
                <string>{420,128}</string>
            </dict>
            <key>power_uplv_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,384},{256,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{256,24}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unCompress5.pvr.ccz</string>
            <key>size</key>
            <string>{888,413}</string>
            <key>textureFileName</key>
            <string>unCompress5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
