<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aircraft_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,118},{105,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,32}}</string>
                <key>sourceSize</key>
                <string>{105,32}</string>
            </dict>
            <key>newAskBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{120,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,55}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>newAskBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{120,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,55}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>newGivingBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,93},{120,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,55}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>newGivingBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,93},{120,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,55}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>newfacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,91},{48,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{48,55}}</string>
                <key>sourceSize</key>
                <string>{68,57}</string>
            </dict>
            <key>payHotBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>payRecommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>paymentBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,57},{147,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,32}}</string>
                <key>sourceSize</key>
                <string>{147,32}</string>
            </dict>
            <key>worldOilDrum.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,57},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>worldRadar.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{62,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,119}}</string>
                <key>sourceSize</key>
                <string>{62,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unCompress4.pvr.ccz</string>
            <key>size</key>
            <string>{498,152}</string>
            <key>textureFileName</key>
            <string>unCompress4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
