<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chatLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{7,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,2}}</string>
                <key>sourceSize</key>
                <string>{7,2}</string>
            </dict>
            <key>chatNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,812},{232,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,36}}</string>
                <key>sourceSize</key>
                <string>{232,36}</string>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,0},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>facebook_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,0},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>friendsBg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,812},{590,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,184}}</string>
                <key>sourceSize</key>
                <string>{590,184}</string>
            </dict>
            <key>recharge_up_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,609},{608,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,201}}</string>
                <key>sourceSize</key>
                <string>{608,201}</string>
            </dict>
            <key>recharge_up_bg2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{608,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,201}}</string>
                <key>sourceSize</key>
                <string>{608,201}</string>
            </dict>
            <key>rewardPanelLine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,998},{580,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{580,4}}</string>
                <key>sourceSize</key>
                <string>{582,4}</string>
            </dict>
            <key>shop_up_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{608,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,201}}</string>
                <key>sourceSize</key>
                <string>{608,201}</string>
            </dict>
            <key>shop_up_bg2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{608,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,201}}</string>
                <key>sourceSize</key>
                <string>{608,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unCompress2.pvr.ccz</string>
            <key>size</key>
            <string>{824,1002}</string>
            <key>textureFileName</key>
            <string>unCompress2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
