<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PhotoSelectPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,290},{638,242}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,242}}</string>
                <key>sourceSize</key>
                <string>{640,242}</string>
            </dict>
            <key>battle_result_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{288,288}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>buildingDescBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,939},{578,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,3}}</string>
                <key>sourceSize</key>
                <string>{578,3}</string>
            </dict>
            <key>cornerSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,534},{640,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,204}}</string>
                <key>sourceSize</key>
                <string>{640,204}</string>
            </dict>
            <key>guideDialogBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,740},{547,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,197}}</string>
                <key>sourceSize</key>
                <string>{547,197}</string>
            </dict>
            <key>guideHelperArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,135},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>letterBgNoRead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,0},{109,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,101}}</string>
                <key>sourceSize</key>
                <string>{109,101}</string>
            </dict>
            <key>letterBgRead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,0},{109,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,100}}</string>
                <key>sourceSize</key>
                <string>{109,100}</string>
            </dict>
            <key>letterBgWrite.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{109,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,101}}</string>
                <key>sourceSize</key>
                <string>{109,101}</string>
            </dict>
            <key>loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,740},{66,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,122}}</string>
                <key>sourceSize</key>
                <string>{66,122}</string>
            </dict>
            <key>loading_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,102},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>panelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>rewardPanelLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,962},{728,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{728,16}}</string>
                <key>sourceSize</key>
                <string>{744,30}</string>
            </dict>
            <key>rewardPanelMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,103},{230,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,30}}</string>
                <key>sourceSize</key>
                <string>{230,30}</string>
            </dict>
            <key>shopIconInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,135},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unCompress.pvr.ccz</string>
            <key>size</key>
            <string>{1282,978}</string>
            <key>textureFileName</key>
            <string>unCompress.pvr.ccz</string>
        </dict>
    </dict>
</plist>
