<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7ricnwenziimg.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{308,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,110}}</string>
                <key>sourceSize</key>
                <string>{308,110}</string>
            </dict>
            <key>commandedLevelUpSp.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,0},{307,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{307,81}}</string>
                <key>sourceSize</key>
                <string>{319,97}</string>
            </dict>
            <key>defeat_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,83},{165,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{165,82}}</string>
                <key>sourceSize</key>
                <string>{165,84}</string>
            </dict>
            <key>donateFire.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,167},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>firstchargegoodgiftcn.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,112},{446,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,53}}</string>
                <key>sourceSize</key>
                <string>{446,53}</string>
            </dict>
            <key>levelUpgradeSp.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,167},{313,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{313,83}}</string>
                <key>sourceSize</key>
                <string>{319,97}</string>
            </dict>
            <key>monthlysignFreeTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{386,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{386,183}}</string>
                <key>sourceSize</key>
                <string>{386,185}</string>
            </dict>
            <key>powerLevelUp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{470,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,159}}</string>
                <key>sourceSize</key>
                <string>{470,159}</string>
            </dict>
            <key>recharge_Lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,83},{90,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>skillLevelUpSp.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,252},{309,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{309,81}}</string>
                <key>sourceSize</key>
                <string>{319,97}</string>
            </dict>
            <key>victory_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,252},{164,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,82}}</string>
                <key>sourceSize</key>
                <string>{164,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>multilanguage1.pvr.ccz</string>
            <key>size</key>
            <string>{1005,344}</string>
            <key>textureFileName</key>
            <string>multilanguage1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
