<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,199},{94,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,200},{64,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{64,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>flatLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,136},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{64,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{68,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>fragmentBg5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guanggun.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,199},{92,86}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{92,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guanggunNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,78},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{68,80}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>jiyouNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{74,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{74,76}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>kaifuxianli.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,0},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>landBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,68},{64,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>landBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,68},{64,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>landSkillIcon_1_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,197},{96,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>landSkillIcon_2_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,97},{96,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>landSkillIcon_4_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,197},{96,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>landSkillIcon_8_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,97},{96,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{54,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{54,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>nvshenNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{76,76}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>weatherBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{102,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,95}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
            <key>weather_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{102,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,95}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
            <key>wetLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,160},{56,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{56,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>updateImage3.pvr.ccz</string>
            <key>size</key>
            <string>{512,295}</string>
            <key>textureFileName</key>
            <string>updateImage3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
