<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fleet_slot_state_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{46,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>rechargebag_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{80,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>rechargebag_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{78,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>updateImage4.pvr.ccz</string>
            <key>size</key>
            <string>{208,74}</string>
            <key>textureFileName</key>
            <string>updateImage4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
