<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,698},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,53}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>blackHero.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,681},{150,142}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>commonRecruitIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,467},{125,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,146}}</string>
                <key>sourceSize</key>
                <string>{127,146}</string>
            </dict>
            <key>continuousDraw.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,677},{125,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,146}}</string>
                <key>sourceSize</key>
                <string>{127,146}</string>
            </dict>
            <key>eliteRecruitIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,529},{125,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,146}}</string>
                <key>sourceSize</key>
                <string>{127,146}</string>
            </dict>
            <key>heroBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,467},{247,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,60}}</string>
                <key>sourceSize</key>
                <string>{247,60}</string>
            </dict>
            <key>heroBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,615},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>heroBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,532},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>heroFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,969},{139,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,25}}</string>
                <key>sourceSize</key>
                <string>{139,25}</string>
            </dict>
            <key>heroFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{499,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,154}}</string>
                <key>sourceSize</key>
                <string>{499,154}</string>
            </dict>
            <key>heroFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{499,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,154}}</string>
                <key>sourceSize</key>
                <string>{499,154}</string>
            </dict>
            <key>heroFrame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{499,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,153}}</string>
                <key>sourceSize</key>
                <string>{499,153}</string>
            </dict>
            <key>heroHead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,615},{136,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>heroHead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,611},{136,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>heroHead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,467},{136,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>heroHead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,825},{136,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>heroHead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,306},{136,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>heroHeadBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,529},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>heroManageNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,867},{112,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,110}}</string>
                <key>sourceSize</key>
                <string>{114,112}</string>
            </dict>
            <key>heroRecruitBox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,153},{136,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,151}}</string>
                <key>sourceSize</key>
                <string>{136,151}</string>
            </dict>
            <key>heroRecruitBox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,825},{136,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,151}}</string>
                <key>sourceSize</key>
                <string>{136,151}</string>
            </dict>
            <key>heroRecruitBox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,0},{136,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,151}}</string>
                <key>sourceSize</key>
                <string>{136,151}</string>
            </dict>
            <key>heroRecruitIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,759},{113,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,106}}</string>
                <key>sourceSize</key>
                <string>{113,106}</string>
            </dict>
            <key>heroRecruitIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,864},{112,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{112,102}</string>
            </dict>
            <key>heroRecruitIcon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,755},{116,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,107}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>heroRecruitLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,753},{83,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{83,2}}</string>
                <key>sourceSize</key>
                <string>{83,8}</string>
            </dict>
            <key>hero_infoBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,870},{72,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{72,73}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>littleArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,978},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>recruitDialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,450},{94,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>recruitIconNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,759},{112,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,109}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroImage.pvr.ccz</string>
            <key>size</key>
            <string>{638,994}</string>
            <key>textureFileName</key>
            <string>heroImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
