<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IconCheck.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,98},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>IconFault.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>IconTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,71},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>btnSmall2_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,101},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>btnSmall2_ok_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,71},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>buildingNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{422,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,69}}</string>
                <key>sourceSize</key>
                <string>{422,69}</string>
            </dict>
            <key>item_auto_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,70}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>switch_btn_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,71},{128,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,54}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>switch_btn_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,71},{128,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,54}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>switch_btn_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{128,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,54}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>vertical_line_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,18},{3,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,42}}</string>
                <key>sourceSize</key>
                <string>{3,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buildingUpgrade.pvr.ccz</string>
            <key>size</key>
            <string>{512,129}</string>
            <key>textureFileName</key>
            <string>buildingUpgrade.pvr.ccz</string>
        </dict>
    </dict>
</plist>
