<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BuildUpBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,0},{131,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,29}}</string>
                <key>sourceSize</key>
                <string>{131,29}</string>
            </dict>
            <key>buffBtnIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,175},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>buildTimeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,31},{126,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,24}}</string>
                <key>sourceSize</key>
                <string>{126,24}</string>
            </dict>
            <key>build_btn_icon_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,216},{68,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,22}}</string>
                <key>sourceSize</key>
                <string>{68,22}</string>
            </dict>
            <key>buildingInfoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,39},{20,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,65}}</string>
                <key>sourceSize</key>
                <string>{20,65}</string>
            </dict>
            <key>building_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{137,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,37}}</string>
                <key>sourceSize</key>
                <string>{137,37}</string>
            </dict>
            <key>clickBuildBtnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,39},{105,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,109}}</string>
                <key>sourceSize</key>
                <string>{105,109}</string>
            </dict>
            <key>makeBtnIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,150},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,64}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>produceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,57},{76,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,61}}</string>
                <key>sourceSize</key>
                <string>{76,61}</string>
            </dict>
            <key>researchBtnIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,175},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>speedIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,120},{75,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,53}}</string>
                <key>sourceSize</key>
                <string>{75,53}</string>
            </dict>
            <key>speedUpIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{84,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{84,92}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>upgradeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,57},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clickBuilding.pvr.ccz</string>
            <key>size</key>
            <string>{271,244}</string>
            <key>textureFileName</key>
            <string>clickBuilding.pvr.ccz</string>
        </dict>
    </dict>
</plist>
