<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_accurate.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1206},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>Icon_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1206},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>Icon_avoid.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1206},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>Icon_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1176},{30,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Icon_critical.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1206},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>Icon_decritical.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1206},{27,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{27,31}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>ProduceTankIconLess.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1206},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>ProduceTankIconMore.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1206},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>ProduceTankIconSlide.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1138},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>ProduceTankSlideBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1237},{396,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,23}}</string>
                <key>sourceSize</key>
                <string>{396,23}</string>
            </dict>
            <key>ProduceTankSlideBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1262},{405,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,29}}</string>
                <key>sourceSize</key>
                <string>{405,29}</string>
            </dict>
            <key>SoldierAttBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1192},{94,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,12}}</string>
                <key>sourceSize</key>
                <string>{94,12}</string>
            </dict>
            <key>SoldierAttBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1243},{97,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,15}}</string>
                <key>sourceSize</key>
                <string>{97,15}</string>
            </dict>
            <key>TeamTravelBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1175},{233,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,29}}</string>
                <key>sourceSize</key>
                <string>{233,29}</string>
            </dict>
            <key>editTroopsBg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>increaseBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1138},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>increaseBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1138},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>increaseBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1206},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>leftArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1138},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>panelItemBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1136},{535,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,156}}</string>
                <key>sourceSize</key>
                <string>{535,156}</string>
            </dict>
            <key>redBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1138},{608,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,34}}</string>
                <key>sourceSize</key>
                <string>{608,34}</string>
            </dict>
            <key>reduceBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1206},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>reduceBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1241},{45,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,15}}</string>
                <key>sourceSize</key>
                <string>{45,15}</string>
            </dict>
            <key>reduceBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1138},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>resource_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1174},{36,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>resource_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1206},{40,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>resource_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1206},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>resource_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1206},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>resource_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1240},{26,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>soldierTraining.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>soldierTraining2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1284,0},{640,1134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1134}}</string>
                <key>sourceSize</key>
                <string>{640,1134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldierFactory.pvr.ccz</string>
            <key>size</key>
            <string>{1924,1292}</string>
            <key>textureFileName</key>
            <string>soldierFactory.pvr.ccz</string>
        </dict>
    </dict>
</plist>
