<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/battleSceneAnimation/VSTop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,232},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSTop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,317},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSTop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,402},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSTop4.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,232},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSTop5.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,317},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSTop6.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,402},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSacross1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{110,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,13}}</string>
                <key>sourceSize</key>
                <string>{110,13}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSacross10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,464},{110,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,13}}</string>
                <key>sourceSize</key>
                <string>{110,13}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSacross2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,464},{110,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,13}}</string>
                <key>sourceSize</key>
                <string>{110,13}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSacross3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,477},{110,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,13}}</string>
                <key>sourceSize</key>
                <string>{110,13}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSacross4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,477},{110,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,13}}</string>
                <key>sourceSize</key>
                <string>{110,13}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSacross5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,477},{110,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,13}}</string>
                <key>sourceSize</key>
                <string>{110,13}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSacross6.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,487},{110,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,13}}</string>
                <key>sourceSize</key>
                <string>{110,13}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSacross7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,490},{110,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,13}}</string>
                <key>sourceSize</key>
                <string>{110,13}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSacross8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,490},{110,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,13}}</string>
                <key>sourceSize</key>
                <string>{110,13}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/VSacross9.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,490},{110,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,13}}</string>
                <key>sourceSize</key>
                <string>{110,13}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/vs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/vs10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/vs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/vs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/vs4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/vs5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,116},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/vs6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,232},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/vs7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,348},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/vs8.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>ccbResources/battleSceneAnimation/vs9.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,116},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleSceneAnimation.pvr.ccz</string>
            <key>size</key>
            <string>{502,503}</string>
            <key>textureFileName</key>
            <string>battleSceneAnimation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
