<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/battleScene/BadgeSp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{148,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,91}}</string>
                <key>sourceSize</key>
                <string>{148,91}</string>
            </dict>
            <key>ccbResources/battleScene/VS_RoundBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1513},{180,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,30}}</string>
                <key>sourceSize</key>
                <string>{180,30}</string>
            </dict>
            <key>ccbResources/battleScene/VS_leftInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,81}}</string>
                <key>sourceSize</key>
                <string>{312,81}</string>
            </dict>
            <key>ccbResources/battleScene/VS_rightInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{312,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,81}}</string>
                <key>sourceSize</key>
                <string>{312,81}</string>
            </dict>
            <key>ccbResources/battleScene/battle_plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{198,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,108}}</string>
                <key>sourceSize</key>
                <string>{198,108}</string>
            </dict>
            <key>ccbResources/battleScene/battle_plane_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{198,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,108}}</string>
                <key>sourceSize</key>
                <string>{198,108}</string>
            </dict>
            <key>ccbResources/battleScene/hjc_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/battleScene/hjc_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/battleScene/keng_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1476},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>ccbResources/battleScene/keng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1200},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>ccbResources/battleScene/s.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1253},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>ccbResources/battleScene/skipPlaybtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1420},{131,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,54}}</string>
                <key>sourceSize</key>
                <string>{131,54}</string>
            </dict>
            <key>ccbResources/battleScene/tank_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/battleScene/tank_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/battleScene/v.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1476},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>ccbResources/battleScene/xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,168},{29,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,536}}</string>
                <key>sourceSize</key>
                <string>{29,536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleScene.pvr.ccz</string>
            <key>size</key>
            <string>{316,1545}</string>
            <key>textureFileName</key>
            <string>battleScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
