<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/checkPoint/building_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{215,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,127}}</string>
                <key>sourceSize</key>
                <string>{215,127}</string>
            </dict>
            <key>ccbResources/checkPoint/building_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,234},{305,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,212}}</string>
                <key>sourceSize</key>
                <string>{305,212}</string>
            </dict>
            <key>ccbResources/checkPoint/building_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,448},{267,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,235}}</string>
                <key>sourceSize</key>
                <string>{267,235}</string>
            </dict>
            <key>ccbResources/checkPoint/building_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,516},{237,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,164}}</string>
                <key>sourceSize</key>
                <string>{237,164}</string>
            </dict>
            <key>ccbResources/checkPoint/building_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,0},{333,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,232}}</string>
                <key>sourceSize</key>
                <string>{333,232}</string>
            </dict>
            <key>ccbResources/checkPoint/building_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{460,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,294}}</string>
                <key>sourceSize</key>
                <string>{460,294}</string>
            </dict>
            <key>ccbResources/checkPoint/oilDrum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,579},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>ccbResources/checkPoint/radar.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,554},{62,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,119}}</string>
                <key>sourceSize</key>
                <string>{62,119}</string>
            </dict>
            <key>ccbResources/checkPoint/raider_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,516},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>ccbResources/checkPoint/raider_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,605},{89,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,78}}</string>
                <key>sourceSize</key>
                <string>{89,78}</string>
            </dict>
            <key>ccbResources/checkPoint/raider_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,516},{97,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,76}}</string>
                <key>sourceSize</key>
                <string>{97,76}</string>
            </dict>
            <key>ccbResources/checkPoint/raider_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,605},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>ccbResources/checkPoint/raider_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,605},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>ccbResources/checkPoint/rocket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,554},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>ccbResources/checkPoint/rocket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,554},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>ccbResources/checkPoint/rocket_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,516},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>ccbResources/checkPoint/rocket_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,516},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>ccbResources/checkPoint/rocket_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,554},{97,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,100}}</string>
                <key>sourceSize</key>
                <string>{97,100}</string>
            </dict>
            <key>ccbResources/checkPoint/tk16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/checkPoint/tk17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,296},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/checkPoint/tk18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/checkPoint/tk19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,258},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/checkPoint/tk1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/checkPoint/tk1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,631},{91,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,51}}</string>
                <key>sourceSize</key>
                <string>{91,51}</string>
            </dict>
            <key>ccbResources/checkPoint/tk20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,258},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/checkPoint/tk2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/checkPoint/tk2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,516},{98,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>ccbResources/checkPoint/tk3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,258},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/checkPoint/tk3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,576},{91,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{91,53}</string>
            </dict>
            <key>ccbResources/checkPoint/tk4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/checkPoint/tk4_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,516},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,58}}</string>
                <key>sourceSize</key>
                <string>{102,58}</string>
            </dict>
            <key>ccbResources/checkPoint/tk5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,258},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/checkPoint/tk5_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,594},{103,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,67}}</string>
                <key>sourceSize</key>
                <string>{103,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>checkPoint.pvr.ccz</string>
            <key>size</key>
            <string>{1881,683}</string>
            <key>textureFileName</key>
            <string>checkPoint.pvr.ccz</string>
        </dict>
    </dict>
</plist>
