<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/battleMapDecorate/decorate_map_2/battle_thunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,580}}</string>
                <key>sourceSize</key>
                <string>{540,580}</string>
            </dict>
            <key>ccbResources/battleMapDecorate/decorate_map_2/d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{180,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,99}}</string>
                <key>sourceSize</key>
                <string>{180,99}</string>
            </dict>
            <key>ccbResources/battleMapDecorate/decorate_map_2/d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,584},{158,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,86}}</string>
                <key>sourceSize</key>
                <string>{158,86}</string>
            </dict>
            <key>ccbResources/battleMapDecorate/decorate_map_2/d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,660},{128,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,74}}</string>
                <key>sourceSize</key>
                <string>{128,74}</string>
            </dict>
            <key>ccbResources/battleMapDecorate/decorate_map_2/d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,584},{158,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,74}}</string>
                <key>sourceSize</key>
                <string>{158,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>decorate_map_2.pvr.ccz</string>
            <key>size</key>
            <string>{544,736}</string>
            <key>textureFileName</key>
            <string>decorate_map_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
