<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/res/effect/hjb_2/bullet_2/bullet2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,186},{180,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,30}}</string>
                <key>sourceSize</key>
                <string>{180,30}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/bullet_2/bullet2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,218},{180,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,30}}</string>
                <key>sourceSize</key>
                <string>{180,30}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/bullet_2/bullet2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,250},{180,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,30}}</string>
                <key>sourceSize</key>
                <string>{180,30}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/bullet_2/bullet2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,282},{180,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,30}}</string>
                <key>sourceSize</key>
                <string>{180,30}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/bullet_2/bullet2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,314},{180,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,30}}</string>
                <key>sourceSize</key>
                <string>{180,30}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/bullet_2/bullet2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,346},{180,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,30}}</string>
                <key>sourceSize</key>
                <string>{180,30}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/fire_2/fire2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/fire_2/fire2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,62},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/fire_2/fire2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,124},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/fire_2/fire2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/fire_2/fire2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,426},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/fire_2/fire2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,426},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/fire_2/fire2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,426},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/fire_2/fire2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,426},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/fire_2/fire2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,378},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/fire_2/fire2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,440},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,142},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,284},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,284},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,142},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,284},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,142},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjb_2/hit_2/hit2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,284},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hjb_2.pvr.ccz</string>
            <key>size</key>
            <string>{1012,500}</string>
            <key>textureFileName</key>
            <string>hjb_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
