<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/res/effect/hjc_8/bullet_8/missle_bullet_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/bullet_8/missle_bullet_8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/bullet_8/missle_bullet_8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/bullet_8/missle_bullet_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,162},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/bullet_8/missle_bullet_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/bullet_8/missle_bullet_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,324},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/bullet_8/missle_bullet_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,486},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/bullet_8/missle_bullet_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,486},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/bullet_8/missle_bullet_8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,648},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/bullet_8/missle_bullet_8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,648},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/bullet_8/missle_bullet_8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{512,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,160}}</string>
                <key>sourceSize</key>
                <string>{512,160}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/fire_8/fire4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,0},{200,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,140}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/fire_8/fire4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,142},{200,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,140}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/fire_8/fire4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,284},{200,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,140}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/fire_8/fire4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,426},{200,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,140}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/fire_8/fire4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,568},{200,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,140}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/fire_8/fire4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,710},{200,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,140}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,142},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,284},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,426},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,568},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,710},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,810},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,810},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,810},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,852},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,852},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/hjc_8/hit_8/hit_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,852},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hjc_8.pvr.ccz</string>
            <key>size</key>
            <string>{1370,992}</string>
            <key>textureFileName</key>
            <string>hjc_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
