<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/res/effect/shells/shells1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,0},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,127},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,254},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>ccbResources/res/effect/shells/shells1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,381},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shells.pvr.ccz</string>
            <key>size</key>
            <string>{970,506}</string>
            <key>textureFileName</key>
            <string>shells.pvr.ccz</string>
        </dict>
    </dict>
</plist>
