<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/res/effect/tankTrail_1/tail01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
            <key>ccbResources/res/effect/tankTrail_1/tail02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{162,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
            <key>ccbResources/res/effect/tankTrail_1/tail03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{162,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
            <key>ccbResources/res/effect/tankTrail_1/tail04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,92},{162,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
            <key>ccbResources/res/effect/tankTrail_1/tail05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{162,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
            <key>ccbResources/res/effect/tankTrail_1/tail06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,184},{162,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
            <key>ccbResources/res/effect/tankTrail_1/tail07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{162,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
            <key>ccbResources/res/effect/tankTrail_1/tail08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,276},{162,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
            <key>ccbResources/res/effect/tankTrail_1/tail09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{162,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
            <key>ccbResources/res/effect/tankTrail_1/tail10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,368},{162,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tankTrail_1.pvr.ccz</string>
            <key>size</key>
            <string>{326,458}</string>
            <key>textureFileName</key>
            <string>tankTrail_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
