<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/res/effect/tjb_4/bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/fire_4/fire4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,52},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/fire_4/fire4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,94},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/fire_4/fire4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/fire_4/fire4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,126},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/fire_4/fire4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,136},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/fire_4/fire4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/fire_4/fire4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,168},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/fire_4/fire4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,178},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/fire_4/fire4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/fire_4/fire4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,210},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/hit_4/hit4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/hit_4/hit4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/hit_4/hit4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/hit_4/hit4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ccbResources/res/effect/tjb_4/hit_4/hit4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tjb_4.pvr.ccz</string>
            <key>size</key>
            <string>{154,250}</string>
            <key>textureFileName</key>
            <string>tjb_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
