<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/res/tk10045/tk10045_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/res/tk10045/tk10045_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{120,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,76}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>ccbResources/res/tk10045/tk10045_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,76},{120,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,76}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>ccbResources/res/tk10045/tk10045_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,152},{120,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,76}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>ccbResources/res/tk10045/tk10045_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{120,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,76}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>ccbResources/res/tk10045/tk10045_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,76},{120,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,76}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>ccbResources/res/tk10045/tk10045_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/res/tk10045/tk10045_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,0},{114,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,52}}</string>
                <key>sourceSize</key>
                <string>{114,52}</string>
            </dict>
            <key>ccbResources/res/tk10045/tk10045_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,52},{114,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,52}}</string>
                <key>sourceSize</key>
                <string>{114,52}</string>
            </dict>
            <key>ccbResources/res/tk10045/tk10045_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,104},{114,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,52}}</string>
                <key>sourceSize</key>
                <string>{114,52}</string>
            </dict>
            <key>ccbResources/res/tk10045/tk10045_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,152},{114,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,52}}</string>
                <key>sourceSize</key>
                <string>{114,52}</string>
            </dict>
            <key>ccbResources/res/tk10045/tk10045_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,204},{114,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,52}}</string>
                <key>sourceSize</key>
                <string>{114,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tk10045.pvr.ccz</string>
            <key>size</key>
            <string>{866,256}</string>
            <key>textureFileName</key>
            <string>tk10045.pvr.ccz</string>
        </dict>
    </dict>
</plist>
