<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/res/tk2/tk2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,0},{98,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,63},{98,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,126},{98,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,189},{98,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,0},{98,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_1_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,0},{97,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,57}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,59},{97,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,57}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,118},{97,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,57}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,177},{97,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,57}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,0},{97,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,57}}</string>
                <key>sourceSize</key>
                <string>{97,57}</string>
            </dict>
            <key>ccbResources/res/tk2/tk2_2_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tk2.pvr.ccz</string>
            <key>size</key>
            <string>{1229,256}</string>
            <key>textureFileName</key>
            <string>tk2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
