<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/res/tk4/tk4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,130},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,58}}</string>
                <key>sourceSize</key>
                <string>{102,58}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,130},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,58}}</string>
                <key>sourceSize</key>
                <string>{102,58}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,190},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,58}}</string>
                <key>sourceSize</key>
                <string>{102,58}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,190},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,58}}</string>
                <key>sourceSize</key>
                <string>{102,58}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,130},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,58}}</string>
                <key>sourceSize</key>
                <string>{102,58}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_1_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,0},{103,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,63}}</string>
                <key>sourceSize</key>
                <string>{103,63}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,0},{103,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,63}}</string>
                <key>sourceSize</key>
                <string>{103,63}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,65},{103,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,63}}</string>
                <key>sourceSize</key>
                <string>{103,63}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,65},{103,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,63}}</string>
                <key>sourceSize</key>
                <string>{103,63}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,0},{103,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,63}}</string>
                <key>sourceSize</key>
                <string>{103,63}</string>
            </dict>
            <key>ccbResources/res/tk4/tk4_2_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tk4.pvr.ccz</string>
            <key>size</key>
            <string>{1240,256}</string>
            <key>textureFileName</key>
            <string>tk4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
