<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/res/tk5/tk5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,0},{103,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,67}}</string>
                <key>sourceSize</key>
                <string>{103,67}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,0},{103,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,67}}</string>
                <key>sourceSize</key>
                <string>{103,67}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,69},{103,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,67}}</string>
                <key>sourceSize</key>
                <string>{103,67}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,69},{103,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,67}}</string>
                <key>sourceSize</key>
                <string>{103,67}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,0},{103,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,67}}</string>
                <key>sourceSize</key>
                <string>{103,67}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_1_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,138},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,138},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,138},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,198},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,198},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>ccbResources/res/tk5/tk5_2_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tk5.pvr.ccz</string>
            <key>size</key>
            <string>{1324,256}</string>
            <key>textureFileName</key>
            <string>tk5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
