<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/res/tk99999/barrel00.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/barrel01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,196},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/barrel02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,390},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/barrel03.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/barrel04.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,196},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/barrel05.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,390},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/barrel06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,2},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/barrel07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,196},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/barrel08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,390},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/barrel09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,2},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/barrel10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,196},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/barrel11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,390},{282,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,192}}</string>
                <key>sourceSize</key>
                <string>{282,192}</string>
            </dict>
            <key>ccbResources/res/tk99999/tk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{643,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,451}}</string>
                <key>sourceSize</key>
                <string>{643,451}</string>
            </dict>
            <key>ccbResources/res/tk99999/tk_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,2},{67,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,355}}</string>
                <key>sourceSize</key>
                <string>{67,355}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret02.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,455},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret03.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,515},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret04.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,455},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,515},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret06.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,455},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret07.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,515},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret08.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,455},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret09.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,515},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret10.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,455},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret11.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,515},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ccbResources/res/tk99999/turret12.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,455},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tk99999.pvr.ccz</string>
            <key>size</key>
            <string>{1852,584}</string>
            <key>textureFileName</key>
            <string>tk99999.pvr.ccz</string>
        </dict>
    </dict>
</plist>
