<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/res/effect/tk_1/bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,680},{175,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,64}}</string>
                <key>sourceSize</key>
                <string>{175,64}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,660},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,792},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,284},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,132},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,416},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/fire_1/fire1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,548},{300,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,130}}</string>
                <key>sourceSize</key>
                <string>{300,130}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,142},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,680},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,746},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,264},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,406},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,548},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,690},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,822},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,832},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,832},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,142},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/hit_1/hit1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,284},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/smoke_1/smoke1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,426},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/smoke_1/smoke1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,528},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/smoke_1/smoke1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,426},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/smoke_1/smoke1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,630},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/smoke_1/smoke1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,732},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/smoke_1/smoke1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,834},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/smoke_1/smoke1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,0},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/smoke_1/smoke1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,102},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/smoke_1/smoke1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,204},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>ccbResources/res/effect/tk_1/smoke_1/smoke1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,306},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tk_1.pvr.ccz</string>
            <key>size</key>
            <string>{1017,972}</string>
            <key>textureFileName</key>
            <string>tk_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
