<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChangeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,365},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>ChangeBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,365},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>ChangePassword.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,292},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>ChangePassword_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,292},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>ContactBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,219},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>ContactBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,219},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>LanguageIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,365},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>LanguageIcon_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,292},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>ServeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,219},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>ServeIcon_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,321},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>allianceBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>allianceBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,146},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>bindAccount.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,292},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>bindAccount_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,292},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>buffBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,146},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>buffBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>changePhotoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,146},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>changePhotoIcon_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,73},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>gameSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>gameSet_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,73},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>kefu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>serviceChannelBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btnIcon.pvr.ccz</string>
            <key>size</key>
            <string>{358,436}</string>
            <key>textureFileName</key>
            <string>btnIcon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
