<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jsjt_book_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,94},{104,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{104,92}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>jsjt_book_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,0},{104,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{104,92}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>jsjt_book_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,100},{104,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{104,92}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>jsjt_book_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,0},{177,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{177,153}}</string>
                <key>sourceSize</key>
                <string>{179,157}</string>
            </dict>
            <key>jsjt_bookacIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,0},{94,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jsjt_corn.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,0},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>jsjt_rewplatebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{581,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,175}}</string>
                <key>sourceSize</key>
                <string>{581,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>acJunshijiangtan.pvr.ccz</string>
            <key>size</key>
            <string>{1005,192}</string>
            <key>textureFileName</key>
            <string>acJunshijiangtan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
