<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acMainNotebgplate.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{547,767}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,767}}</string>
                <key>sourceSize</key>
                <string>{547,767}</string>
            </dict>
            <key>acmainnote1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,0},{210,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,400}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
            <key>acmainnote2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,402},{224,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,380}}</string>
                <key>sourceSize</key>
                <string>{224,380}</string>
            </dict>
            <key>acmainnoteShengdan001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,879},{185,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,60}}</string>
                <key>sourceSize</key>
                <string>{185,60}</string>
            </dict>
            <key>acmainnoteShengdan002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,784},{220,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,93}}</string>
                <key>sourceSize</key>
                <string>{220,93}</string>
            </dict>
            <key>acmainnoteactivekuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,539},{529,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,208}}</string>
                <key>sourceSize</key>
                <string>{529,208}</string>
            </dict>
            <key>acmainnoteactivekuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,329},{529,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,208}}</string>
                <key>sourceSize</key>
                <string>{529,208}</string>
            </dict>
            <key>acmainnoteactivekuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,769},{529,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,208}}</string>
                <key>sourceSize</key>
                <string>{529,208}</string>
            </dict>
            <key>acmainnoteactivekuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,769},{529,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,208}}</string>
                <key>sourceSize</key>
                <string>{529,208}</string>
            </dict>
            <key>acmainnotemohubg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1065,0},{128,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,227}}</string>
                <key>sourceSize</key>
                <string>{128,227}</string>
            </dict>
            <key>closedadaagfqg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,229},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cnfontbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,0},{514,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,327}}</string>
                <key>sourceSize</key>
                <string>{514,327}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>acMainnotedetail.pvr.ccz</string>
            <key>size</key>
            <string>{1405,977}</string>
            <key>textureFileName</key>
            <string>acMainnotedetail.pvr.ccz</string>
        </dict>
    </dict>
</plist>
