<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acMayDay2PanIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,469},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>acMayDayBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,0},{467,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,467}}</string>
                <key>sourceSize</key>
                <string>{467,467}</string>
            </dict>
            <key>acMayDayBgCener.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,0},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>acMayDayBgGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,469},{66,72}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{66,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>acMayDayBgLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,158},{143,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,187}}</string>
                <key>sourceSize</key>
                <string>{143,187}</string>
            </dict>
            <key>acMayDayBgSp.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,469},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>acMayDayBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,469},{78,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>acMayDayBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,469},{78,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>acMayDayBtnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,347},{143,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{143,50}}</string>
                <key>sourceSize</key>
                <string>{145,50}</string>
            </dict>
            <key>acMayDayPointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,530},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>acMayDayTvBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{608,571}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,571}}</string>
                <key>sourceSize</key>
                <string>{608,571}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>acMayDayImage.pvr.ccz</string>
            <key>size</key>
            <string>{1235,571}</string>
            <key>textureFileName</key>
            <string>acMayDayImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
