<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dayIconBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,125},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>dayIconGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,125},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>monthlysignFreeGetIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{83,80}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>monthlysignFreeIconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>monthlysignFreeIconBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>monthlysignFreeVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,142},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>monthlysignIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,142},{80,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>monthlysignPayTitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{615,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,123}}</string>
                <key>sourceSize</key>
                <string>{615,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>acMonthlysign.pvr.ccz</string>
            <key>size</key>
            <string>{899,228}</string>
            <key>textureFileName</key>
            <string>acMonthlysign.pvr.ccz</string>
        </dict>
    </dict>
</plist>
