<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mArms_part1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{206,328},{204,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,162}}</string>
                <key>sourceSize</key>
                <string>{204,162}</string>
            </dict>
            <key>mArms_part2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{206,164},{204,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,162}}</string>
                <key>sourceSize</key>
                <string>{204,162}</string>
            </dict>
            <key>mArms_part3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{204,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,162}}</string>
                <key>sourceSize</key>
                <string>{204,162}</string>
            </dict>
            <key>mArms_part4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{204,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,162}}</string>
                <key>sourceSize</key>
                <string>{204,162}</string>
            </dict>
            <key>mArms_part5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{206,0},{204,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,162}}</string>
                <key>sourceSize</key>
                <string>{204,162}</string>
            </dict>
            <key>mArms_part6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,162}}</string>
                <key>sourceSize</key>
                <string>{204,162}</string>
            </dict>
            <key>mysteriousArmsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{86,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{86,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>acMysteriousArms.pvr.ccz</string>
            <key>size</key>
            <string>{498,490}</string>
            <key>textureFileName</key>
            <string>acMysteriousArms.pvr.ccz</string>
        </dict>
    </dict>
</plist>
