<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonusPackage10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,529},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>daytime001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,529},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>daytime002.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,529},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>daytime003.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,529},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>daytime004.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,529},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>daytime005.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,529},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>daytime006.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,540},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>daytime007.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,540},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>denglujiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,559},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{30,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>denglujiang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,563},{26,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{26,28}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>guang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,405},{478,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,122}}</string>
                <key>sourceSize</key>
                <string>{478,122}</string>
            </dict>
            <key>guang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,405},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>leftbtnimg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,529},{33,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,66}}</string>
                <key>sourceSize</key>
                <string>{33,66}</string>
            </dict>
            <key>leftbtnimg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,307},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,307},{603,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,71}}</string>
                <key>sourceSize</key>
                <string>{603,71}</string>
            </dict>
            <key>titleqiriupImgbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,0},{640,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,305}}</string>
                <key>sourceSize</key>
                <string>{640,305}</string>
            </dict>
            <key>xianshishangdianbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{606,617}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,617}}</string>
                <key>sourceSize</key>
                <string>{606,617}</string>
            </dict>
            <key>zhekodian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,529},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>zhekodian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,529},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{34,28}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>zuanshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,568},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>zuanshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,375},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{34,28}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>acNewGiftsdialog.pvr.ccz</string>
            <key>size</key>
            <string>{1248,617}</string>
            <key>textureFileName</key>
            <string>acNewGiftsdialog.pvr.ccz</string>
        </dict>
    </dict>
</plist>
