<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChristmasTreeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{120,112}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{120,112}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>activityProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,34},{455,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{455,18}}</string>
                <key>sourceSize</key>
                <string>{475,32}</string>
            </dict>
            <key>activityProgressBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{475,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,32}}</string>
                <key>sourceSize</key>
                <string>{475,32}</string>
            </dict>
            <key>activitylodgbiaoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,54},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>acShengdankuanghuan.pvr.ccz</string>
            <key>size</key>
            <string>{475,166}</string>
            <key>textureFileName</key>
            <string>acShengdankuanghuan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
