<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_TurntableNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{72,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{72,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_mibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,106}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{124,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Icon_touxiangdazhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{86,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{86,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Icon_zhaobingmaima.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{88,96}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ac_bless_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,98},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{70,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bless_rotary_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,98},{80,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bossIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,92},{100,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>doorGhostIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{96,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>yongwangzhiqianIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{82,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{82,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activityIcon.pvr.ccz</string>
            <key>size</key>
            <string>{484,178}</string>
            <key>textureFileName</key>
            <string>activityIcon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
