<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equipSelectedRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,0},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pumpkinA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,322},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{98,98}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pumpkinA12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,356},{94,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{94,90}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pumpkinA2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,260},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{98,98}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pumpkinA22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{110,108}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{110,108}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pumpkinB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,360},{88,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{88,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pumpkinB12.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,144},{98,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{98,92}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pumpkinB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,144},{110,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{110,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pumpkinB22.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,0},{114,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{114,108}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pumpkinBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{108,108}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pumpkinC1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,334},{84,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{84,94}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pumpkinC12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,260},{88,94}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{88,94}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pumpkinC2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,238},{84,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{84,94}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pumpkinC22.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,208},{104,112}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{104,112}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>zbmmBar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,120},{229,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{229,22}}</string>
                <key>sourceSize</key>
                <string>{255,40}</string>
            </dict>
            <key>zbmmBarBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{255,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,40}}</string>
                <key>sourceSize</key>
                <string>{255,40}</string>
            </dict>
            <key>zbmmRewardBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{237,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,164}}</string>
                <key>sourceSize</key>
                <string>{237,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>acWanshengjiedazuozhan.pvr.ccz</string>
            <key>size</key>
            <string>{498,454}</string>
            <key>textureFileName</key>
            <string>acWanshengjiedazuozhan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
