<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acYueduHeroGlir.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,179},{180,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,203}}</string>
                <key>sourceSize</key>
                <string>{180,203}</string>
            </dict>
            <key>acYueduHeroicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,0},{76,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{76,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>look_Info_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,0},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>zbmmBIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,289},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>zbmmBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,234},{283,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,53}}</string>
                <key>sourceSize</key>
                <string>{283,53}</string>
            </dict>
            <key>zbmmBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,179},{283,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,53}}</string>
                <key>sourceSize</key>
                <string>{283,53}</string>
            </dict>
            <key>zbmmRewardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{309,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,177}}</string>
                <key>sourceSize</key>
                <string>{309,177}</string>
            </dict>
            <key>zbmmSIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,289},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>aczhaobingmaima.pvr.ccz</string>
            <key>size</key>
            <string>{465,409}</string>
            <key>textureFileName</key>
            <string>aczhaobingmaima.pvr.ccz</string>
        </dict>
    </dict>
</plist>
