<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_icon_double11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{68,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>main_icon_shengdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>main_icon_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,62},{63,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{63,58}</string>
            </dict>
            <key>main_icon_worldboss.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>limitActivityIcon.pvr.ccz</string>
            <key>size</key>
            <string>{220,120}</string>
            <key>textureFileName</key>
            <string>limitActivityIcon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
