<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luckBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,25},{78,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{78,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>luckBoxBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,34},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shengdankuanghuanIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,216},{130,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,142}}</string>
                <key>sourceSize</key>
                <string>{130,142}</string>
            </dict>
            <key>shengdankuanghuanShuoying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{400,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,507}}</string>
                <key>sourceSize</key>
                <string>{400,507}</string>
            </dict>
            <key>shengdankuanghuandaBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,360},{111,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,129}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>shengdankuanghuanhang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{269,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,6}}</string>
                <key>sourceSize</key>
                <string>{269,6}</string>
            </dict>
            <key>shengdankuanghuanhang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,8},{230,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,6}}</string>
                <key>sourceSize</key>
                <string>{230,6}</string>
            </dict>
            <key>shengdankuanghuanhang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,16},{206,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,7}}</string>
                <key>sourceSize</key>
                <string>{206,7}</string>
            </dict>
            <key>shengdankuanghuanhang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,25},{188,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,7}}</string>
                <key>sourceSize</key>
                <string>{188,7}</string>
            </dict>
            <key>shengdankuanghuankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,85},{76,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shengdankuanghuanxiaoBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,216},{114,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,110}}</string>
                <key>sourceSize</key>
                <string>{114,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luckLottery.pvr.ccz</string>
            <key>size</key>
            <string>{671,507}</string>
            <key>textureFileName</key>
            <string>luckLottery.pvr.ccz</string>
        </dict>
    </dict>
</plist>
