<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,70},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{56,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>b.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{70,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>blurry.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{78,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>c.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,70},{68,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{68,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{74,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{74,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>intact.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{84,68}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{84,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>potion.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,146},{96,80}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{96,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mibaoImage.pvr.ccz</string>
            <key>size</key>
            <string>{198,226}</string>
            <key>textureFileName</key>
            <string>mibaoImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
