<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>speedupDiscArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{173,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,43}}</string>
                <key>sourceSize</key>
                <string>{173,45}</string>
            </dict>
            <key>speedupDiscOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,45},{81,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,44}}</string>
                <key>sourceSize</key>
                <string>{81,44}</string>
            </dict>
            <key>speeduparrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,45},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{119,119}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>speedupDiscImage.pvr.ccz</string>
            <key>size</key>
            <string>{202,164}</string>
            <key>textureFileName</key>
            <string>speedupDiscImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
