<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_direction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,103},{56,43}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{56,43}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>arrow_direction_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,86},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>arrow_direction_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,60},{55,24}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{55,24}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>arrow_direction_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,58},{56,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{56,43}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>world_ground_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,86},{39,39}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{39,39}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>world_ground_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,64},{54,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{54,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>world_ground_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{64,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{64,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>world_ground_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{64,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{64,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>world_ground_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{66,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{66,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>world_ground_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{64,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>world_ground_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{56,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{56,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>world_ground_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>richMineAndLandForm.pvr.ccz</string>
            <key>size</key>
            <string>{256,146}</string>
            <key>textureFileName</key>
            <string>richMineAndLandForm.pvr.ccz</string>
        </dict>
    </dict>
</plist>
