<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>world_800.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,300}}</string>
                <key>sourceSize</key>
                <string>{480,300}</string>
            </dict>
            <key>world_801.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,504},{320,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,200}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>world_802.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{480,268}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,268}}</string>
                <key>sourceSize</key>
                <string>{480,300}</string>
            </dict>
            <key>world_803.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,572},{160,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,88}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_804.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{160,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_805.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,0},{420,300}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{420,300}}</string>
                <key>sourceSize</key>
                <string>{480,300}</string>
            </dict>
            <key>world_806.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,302},{320,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,200}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldRes_1.pvr.ccz</string>
            <key>size</key>
            <string>{902,704}</string>
            <key>textureFileName</key>
            <string>worldRes_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
