<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>world_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,86},{116,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{116,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,102},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,394},{160,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,202},{88,82}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,188},{114,76}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{114,76}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,440},{108,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{108,72}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,370},{138,68}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{138,68}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,0},{130,84}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{130,84}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,406},{156,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{156,88}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,188}}</string>
                <key>offset</key>
                <string>{-27,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,188}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>world_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{138,166}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,5},{138,166}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>world_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{160,160}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>world_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,286},{156,82}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{156,82}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,304},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,202},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,292},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{86,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{86,52}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,190},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>world_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldRes.pvr.ccz</string>
            <key>size</key>
            <string>{700,512}</string>
            <key>textureFileName</key>
            <string>worldRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
