<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{29,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,30},{29,28}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{29,28}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,30},{29,28}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{29,28}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{29,28}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{29,28}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,0},{35,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{35,28}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldAnimImage.pvr.ccz</string>
            <key>size</key>
            <string>{97,58}</string>
            <key>textureFileName</key>
            <string>goldAnimImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
