<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_Attack_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,197},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>Icon_Occupy_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,197},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>heroBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,191},{79,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>heroBoardNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,67},{12,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,31}}</string>
                <key>sourceSize</key>
                <string>{12,31}</string>
            </dict>
            <key>heroBoardNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,182},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>heroBoardNum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,115},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>heroBoardNum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,0},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>heroBoardNum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,215},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>heroBoardNum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,33},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>heroIconImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,25},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>hero_icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,200},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>hero_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,0},{130,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,23}}</string>
                <key>sourceSize</key>
                <string>{130,23}</string>
            </dict>
            <key>numIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,150},{65,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>numIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,115},{65,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>numIcon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,128},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>numIcon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,165},{65,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>numIcon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,80},{65,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>numIcon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,93},{65,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>soldier_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,150},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>soldier_icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,200},{51,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>soldier_stage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{233,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,124}}</string>
                <key>sourceSize</key>
                <string>{233,124}</string>
            </dict>
            <key>troopIconImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,126},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>troopInfoPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,25},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>troop_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{120,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,63}}</string>
                <key>sourceSize</key>
                <string>{120,63}</string>
            </dict>
            <key>troop_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,185},{18,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,51}}</string>
                <key>sourceSize</key>
                <string>{18,51}</string>
            </dict>
            <key>troopsBlue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,185},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>troopsBlue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,126},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>troopsEdit.pvr.ccz</string>
            <key>size</key>
            <string>{397,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:959e12221d98a4e3b76a9536db5a7302:1/1$</string>
            <key>textureFileName</key>
            <string>troopsEdit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
