<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AskBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,610},{122,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>AskBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,304},{122,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>BgCheap.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,741},{336,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,1},{336,44}}</string>
                <key>sourceSize</key>
                <string>{420,46}</string>
            </dict>
            <key>BgHot.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,695},{338,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,1},{338,44}}</string>
                <key>sourceSize</key>
                <string>{420,46}</string>
            </dict>
            <key>BtnFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,787},{270,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{270,82}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>BtnFacebookDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,787},{270,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{270,82}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>CheckPointArow.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,483},{134,80}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{134,80}}</string>
                <key>sourceSize</key>
                <string>{154,104}</string>
            </dict>
            <key>GivingBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,803},{122,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{122,56}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>GivingBtn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,803},{122,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{122,56}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>GuideClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,949},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,40}</string>
            </dict>
            <key>HelpBgBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,803},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>IconDefense.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,861},{56,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{56,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>IconHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,202},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>LoseHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{542,131}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{542,131}}</string>
                <key>sourceSize</key>
                <string>{550,185}</string>
            </dict>
            <key>ShapeDialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,471},{410,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{410,92}}</string>
                <key>sourceSize</key>
                <string>{420,104}</string>
            </dict>
            <key>ShapeGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,565},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,134}</string>
            </dict>
            <key>ShapeInfor.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,333},{466,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{466,136}}</string>
                <key>sourceSize</key>
                <string>{480,138}</string>
            </dict>
            <key>ShapeTank.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,565},{382,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{382,100}}</string>
                <key>sourceSize</key>
                <string>{402,102}</string>
            </dict>
            <key>SuccessHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{542,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,37},{542,111}}</string>
                <key>sourceSize</key>
                <string>{550,185}</string>
            </dict>
            <key>SuccessPanelSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{604,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{604,85}}</string>
                <key>sourceSize</key>
                <string>{620,85}</string>
            </dict>
            <key>TimeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,979},{284,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{284,36}}</string>
                <key>sourceSize</key>
                <string>{286,36}</string>
            </dict>
            <key>battle_result_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,667},{640,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,26}}</string>
                <key>sourceSize</key>
                <string>{640,26}</string>
            </dict>
            <key>changeRole1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,522},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>changeRole2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,434},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>circleSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,271},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>circlenormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,434},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>fleet_slot_state_walk.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,202},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>fubenArow.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,333},{65,148}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{65,148}}</string>
                <key>sourceSize</key>
                <string>{81,158}</string>
            </dict>
            <key>helpBuliding.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,803},{98,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{98,56}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>helpItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,933},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,70}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>helpPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,861},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{100,70}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>helpTank.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,861},{92,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{92,70}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>heroRecruitBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,925},{300,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,52}}</string>
                <key>sourceSize</key>
                <string>{300,52}</string>
            </dict>
            <key>heroRecruitBtn1Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,871},{300,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,52}}</string>
                <key>sourceSize</key>
                <string>{300,52}</string>
            </dict>
            <key>heroRecruitBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,749},{300,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,52}}</string>
                <key>sourceSize</key>
                <string>{300,52}</string>
            </dict>
            <key>heroRecruitBtn2Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,695},{300,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,52}}</string>
                <key>sourceSize</key>
                <string>{300,52}</string>
            </dict>
            <key>mainBtnFireware.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,0},{74,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{74,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mainBtnItems.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,933},{76,54}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{76,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mainChatBgSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,238},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>mainChatBgTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,933},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>main_ui_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,88},{114,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{114,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>main_ui_join_alliance.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,861},{90,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,86}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>world_focus_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,360},{143,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,72}}</string>
                <key>sourceSize</key>
                <string>{143,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oldRes1.pvr.ccz</string>
            <key>size</key>
            <string>{680,1015}</string>
            <key>textureFileName</key>
            <string>oldRes1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
